## BUSINESS UNDERSTANDING
The purpose of this project is to come up with a smart devise for infant ,which will be able to detect 
early anomalies as well as give real time monitoring.by use of machine learning the devise will be able
to detect changes in the body tempratures,heart rate and voice variation in order to ascetain if the baby 
needs medical attention.with the use of voice /sound analysis the model will detect variation in infants 
cry to determine the possible attention needed.the model will also be able to learn the activity of the 
infant ie sleeping,waking pattern.time when the child is active etc

In [105]:
import pandas as pd
import numpy as np
import glob
import os
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt

In [106]:
pd.set_option('display.max_columns',None)

In [107]:
csv_files = glob.glob(r"C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets/**/*.csv",recursive=True)  # Adjust the path to your directory containing CSV files
# Check if any CSV files were found in the directory
if not csv_files:
    print("No CSV files found in the specified directory.") 
    exit(1)

# Print the list of CSV files found
print("CSV files found:")
for file in csv_files:
    print(file)

CSV files found:
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Cause of Deaths around the World (Historical Data)\cause_of_deaths.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\causes-of-death-in-children.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\child-deaths-by-age.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\child-deaths-from-malaria-number.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\child-deaths-igme-data.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\child-mortality-1990-vs-latest-slope.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\child-mortality-around-the-world.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\child-mortality-by-income-level-of-country.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\child-mortality-by-sex.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\child-mortality-igme.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\child-mortality-vs-teenage-pregnancy.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\children-living-with-hiv.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\children-sleeping-under-treated-bednet.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\Children-woman-death-vs-survival.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\correlation-between-child-mortality-and-mean-years-of-schooling-for-those-aged-15-and-older.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\death-rates-from-pneumonia-and-other-lower-respiratory-infections-vs-gdp-per-capita.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\deaths-from-diarrheal-diseases-by-age.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\deaths-from-preterm-birth-complications.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\diarrheal-death-rates-children-vs-gdp-per-capita.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\exclusive-breastfeeding.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\global-child-mortality-timeseries.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\infant-death-rates-by-cause-by-sex.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\malaria-deaths-by-age.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\neonatal-deaths-by-cause.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\number-of-children-newly-infected-with-hiv.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\number-of-children-orphaned-from-aids.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\number-of-deaths-from-diarrheal-diseases-by-risk-factor-for-under-5s.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\number-of-new-hiv-child-infections-vs-number-of-infections-averted-due-to-pmtct.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\per-capita-total-expenditure-on-health-vs-child-mortality.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\pneumonia-and-lower-respiratory-diseases-deaths.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\pneumonia-careseeking.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\pneumonia-death-rates-in-children-under-5.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\pneumonia-risk-factors.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\poverty-and-child-mortality.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Child and Infant Mortality\youth-mortality-rate.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Factors Influencing birth weights\factors_influencing_birthweights.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Infant and Neonatal Mortality Rates\NCHS_-_Infant_and_neonatal_mortality_rates__United_States__1915-2013.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Neonatal Intensive Care Unit\NICU.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Neonatal Mortality in SAARC Region( 2012-2021)\saarc_neonatal_mortaility.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\Synthetic Infant Health Dataset\Synthetic-Infant-Health-Data.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\World neonatal mortality rate\UNIGME-2021.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\World neonatal mortality rate\API_SH.DYN.NMRT_DS2_en_csv_v2_4029697\API_SH.DYN.NMRT_DS2_en_csv_v2_4029697.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\World neonatal mortality rate\API_SH.DYN.NMRT_DS2_en_csv_v2_4029697\Metadata_Country_API_SH.DYN.NMRT_DS2_en_csv_v2_4029697.csv
C:\Users\user\Downloads\Indaba DLI Challenge Datasets\Indaba DLI Challenge Datasets\World neonatal mortality rate\API_SH.DYN.NMRT_DS2_en_csv_v2_4029697\Metadata_Indicator_API_SH.DYN.NMRT_DS2_en_csv_v2_4029697.csv

In [108]:
# load the CSV into dataframes
cause_of_death_gen = pd.read_csv(csv_files[0])
cause_of_death_child=pd.read_csv(csv_files[1])
death_age=pd.read_csv(csv_files[2])
death_malaria=pd.read_csv(csv_files[3])
child_deaths=pd.read_csv(csv_files[4])
child_mort_90s=pd.read_csv(csv_files[5])
child_mort_world=pd.read_csv(csv_files[6])
child_mort_income=pd.read_csv(csv_files[7])
child_mort_sex=pd.read_csv(csv_files[8])
child_mort_igme=pd.read_csv(csv_files[9])
child_mort_teen_preg=pd.read_csv(csv_files[10])
child_hiv=pd.read_csv(csv_files[11])
child_llin=pd.read_csv(csv_files[12])
child_woman_deathSurv=pd.read_csv(csv_files[13])
infant_corr=pd.read_csv(csv_files[14])
death_lrti=pd.read_csv(csv_files[15])
death_diarr_age=pd.read_csv(csv_files[16])
preterm=pd.read_csv(csv_files[17])
diarr_death_rate_per_gdp= pd.read_csv(csv_files[18])
ebf=pd.read_csv(csv_files[19])
glob_childMort_timeseri=pd.read_csv(csv_files[20])
infantdeath_cause_sex=pd.read_csv(csv_files[21])
malaria_death_age=pd.read_csv(csv_files[22])
neonatDeath_cause=pd.read_csv(csv_files[23])
neonatMort_unigm=pd.read_csv(csv_files[24])

## DATA UNDERSTANDING
check for quality issues and patterns

In [109]:
datasets = {
    "cause_of_death_gen": cause_of_death_gen,
    "cause_of_death_child": cause_of_death_child,
    "death_age": death_age,
    "death_malaria": death_malaria,
    "child_deaths": child_deaths,
    "child_mort_90s": child_mort_90s,
    "child_mort_world": child_mort_world,
    "child_mort_income": child_mort_income,
    "child_mort_sex": child_mort_sex,
    "child_mort_igme": child_mort_igme,
    "child_mort_teen_preg": child_mort_teen_preg,
    "child_hiv": child_hiv,
    "child_llin": child_llin,
    "child_woman_deathSurv": child_woman_deathSurv,
    "infant_corr": infant_corr,
    "death_lrti": death_lrti,
    "death_diarr_age": death_diarr_age,
    "preterm": preterm,
    "diarr_death_rate_per_gdp": diarr_death_rate_per_gdp,
    "ebf": ebf
}

for name, csv_files in datasets.items():
    print(f"\n=== Info for {name} ===")
    csv_files.info()

=== Info for cause_of_death_gen ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 34 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country/Territory                           6120 non-null   object
 1   Code                                        6120 non-null   object
 2   Year                                        6120 non-null   int64
 3   Meningitis                                  6120 non-null   int64
 4   Alzheimer's Disease and Other Dementias     6120 non-null   int64
 5   Parkinson's Disease                         6120 non-null   int64
 6   Nutritional Deficiencies                    6120 non-null   int64
 7   Malaria                                     6120 non-null   int64
 8   Drowning                                    6120 non-null   int64
 9   Interpersonal Violence                      6120 non-null   int64
 10  Maternal Disorders                          6120 non-null   int64
 11  HIV/AIDS                                    6120 non-null   int64
 12  Drug Use Disorders                          6120 non-null   int64
 13  Tuberculosis                                6120 non-null   int64
 14  Cardiovascular Diseases                     6120 non-null   int64
 15  Lower Respiratory Infections                6120 non-null   int64
 16  Neonatal Disorders                          6120 non-null   int64
 17  Alcohol Use Disorders                       6120 non-null   int64
 18  Self-harm                                   6120 non-null   int64
 19  Exposure to Forces of Nature                6120 non-null   int64
 20  Diarrheal Diseases                          6120 non-null   int64
 21  Environmental Heat and Cold Exposure        6120 non-null   int64
 22  Neoplasms                                   6120 non-null   int64
 23  Conflict and Terrorism                      6120 non-null   int64
 24  Diabetes Mellitus                           6120 non-null   int64
 25  Chronic Kidney Disease                      6120 non-null   int64
 26  Poisonings                                  6120 non-null   int64
 27  Protein-Energy Malnutrition                 6120 non-null   int64
 28  Road Injuries                               6120 non-null   int64
 29  Chronic Respiratory Diseases                6120 non-null   int64
 30  Cirrhosis and Other Chronic Liver Diseases  6120 non-null   int64
 31  Digestive Diseases                          6120 non-null   int64
 32  Fire, Heat, and Hot Substances              6120 non-null   int64
 33  Acute Hepatitis                             6120 non-null   int64
dtypes: int64(32), object(2)
memory usage: 1.6+ MB

=== Info for cause_of_death_child ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 20 columns):
 #   Column                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                 --------------  -----
 0   Entity                                                                                                 6840 non-null   object
 1   Code                                                                                                   6150 non-null   object
 2   Year                                                                                                   6840 non-null   int64
 3   Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                   6840 non-null   int64
 4   Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                  6840 non-null   int64
 5   Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                6840 non-null   int64
 6   Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                  6840 non-null   int64
 7   Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                  6840 non-null   int64
 8   Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                            6840 non-null   int64
 9   Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                              6840 non-null   int64
 10  Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                  6840 non-null   int64
 11  Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                   6840 non-null   int64
 12  Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)             6840 non-null   int64
 13  Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)  6840 non-null   int64
 14  Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                  6840 non-null   int64
 15  Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                              6840 non-null   int64
 16  Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                    6840 non-null   int64
 17  Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                        6840 non-null   int64
 18  Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                 6840 non-null   int64
 19  Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                  6840 non-null   int64
dtypes: int64(18), object(2)
memory usage: 1.0+ MB

=== Info for death_age ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 7 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Entity                                                       6840 non-null   object
 1   Code                                                         6150 non-null   object
 2   Year                                                         6840 non-null   int64
 3   Deaths - All causes - Sex: Both - Age: 7-27 days (Number)    6840 non-null   int64
 4   Deaths - All causes - Sex: Both - Age: 1-4 years (Number)    6840 non-null   int64
 5   Deaths - All causes - Sex: Both - Age: 0-6 days (Number)     6840 non-null   int64
 6   Deaths - All causes - Sex: Both - Age: 28-364 days (Number)  6840 non-null   int64
dtypes: int64(5), object(2)
memory usage: 374.2+ KB

=== Info for death_malaria ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 4 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                6840 non-null   object
 1   Code                                                  6150 non-null   object
 2   Year                                                  6840 non-null   int64
 3   Deaths - Malaria - Sex: Both - Age: Under 5 (Number)  6840 non-null   int64
dtypes: int64(2), object(2)
memory usage: 213.9+ KB

=== Info for child_deaths ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10707 entries, 0 to 10706
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Entity                       10707 non-null  object
 1   Code                         10273 non-null  object
 2   Year                         10707 non-null  int64
 3   Number of under-five deaths  10707 non-null  int64
dtypes: int64(2), object(2)
memory usage: 334.7+ KB

=== Info for child_mort_90s ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56108 entries, 0 to 56107
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           56108 non-null  object
 1   Code                                             54079 non-null  object
 2   Year                                             56108 non-null  int64
 3   Mortality rate, under-5 (per 1,000 live births)  11226 non-null  float64
 4   Population (historical estimates)                55656 non-null  float64
 5   Continent                                        285 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 2.6+ MB

=== Info for child_mort_world ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17220 entries, 0 to 17219
Data columns (total 4 columns):
 #   Column                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                  --------------  -----
 0   Entity                                                                                                                                  17220 non-null  object
 1   Code                                                                                                                                    14210 non-null  object
 2   Year                                                                                                                                    17220 non-null  int64
 3   Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)  17220 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 538.2+ KB

=== Info for child_mort_income ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11226 entries, 0 to 11225
Data columns (total 4 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           11226 non-null  object
 1   Code                                             10792 non-null  object
 2   Year                                             11226 non-null  int64
 3   Mortality rate, under-5 (per 1,000 live births)  11226 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 350.9+ KB

=== Info for child_mort_sex ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56108 entries, 0 to 56107
Data columns (total 7 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Entity                                                   56108 non-null  object
 1   Code                                                     54079 non-null  object
 2   Year                                                     56108 non-null  int64
 3   Mortality rate, under-5, female (per 1,000 live births)  11158 non-null  float64
 4   Mortality rate, under-5, male (per 1,000 live births)    11158 non-null  float64
 5   Population (historical estimates)                        55656 non-null  float64
 6   Continent                                                285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.0+ MB

=== Info for child_mort_igme ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11226 entries, 0 to 11225
Data columns (total 4 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           11226 non-null  object
 1   Code                                             10792 non-null  object
 2   Year                                             11226 non-null  int64
 3   Mortality rate, under-5 (per 1,000 live births)  11226 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 350.9+ KB

=== Info for child_mort_teen_preg ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11318 entries, 0 to 11317
Data columns (total 6 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Entity                                                                                   11318 non-null  object
 1   Code                                                                                     10884 non-null  object
 2   Year                                                                                     11318 non-null  int64
 3   Mortality rate, under-5 (per 1,000 live births)                                          11226 non-null  float64
 4   Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)  371 non-null    float64
 5   Continent                                                                                285 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 530.7+ KB

=== Info for child_hiv ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2914 entries, 0 to 2913
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           2914 non-null   object
 1   Code                             2914 non-null   object
 2   Year                             2914 non-null   int64
 3   Children (0-14) living with HIV  2914 non-null   int64
dtypes: int64(2), object(2)
memory usage: 91.2+ KB

=== Info for child_llin ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 4 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Entity                                                         278 non-null    object
 1   Code                                                           273 non-null    object
 2   Year                                                           278 non-null    int64
 3   Use of insecticide-treated bed nets (% of under-5 population)  278 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.8+ KB

=== Info for child_woman_deathSurv ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12792 entries, 0 to 12791
Data columns (total 5 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Entity                                                                            12792 non-null  object
 1   Code                                                                              12792 non-null  object
 2   Year                                                                              12792 non-null  int64
 3   Children that died before 5 years of age per woman (based on Gapminder (2017))    12792 non-null  float64
 4   Children that survived past 5 years of age per woman (based on Gapminder (2017))  12792 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 499.8+ KB

=== Info for infant_corr ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58435 entries, 0 to 58434
Data columns (total 7 columns):
 #   Column                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                  --------------  -----
 0   Entity                                                                                                                                  58435 non-null  object
 1   Code                                                                                                                                    54149 non-null  object
 2   Year                                                                                                                                    58435 non-null  int64
 3   Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)  17220 non-null  float64
 4   Mean years of schooling, women (in reproductive age 15 to 49) (Our World In Data (2017))                                                1898 non-null   float64
 5   Population (historical estimates)                                                                                                       55656 non-null  float64
 6   Continent                                                                                                                               285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.1+ MB

=== Info for death_lrti ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56810 entries, 0 to 56809
Data columns (total 7 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Entity                                                                   56810 non-null  object
 1   Code                                                                     54091 non-null  object
 2   Year                                                                     56810 non-null  int64
 3   Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Rate)  6840 non-null   float64
 4   GDP per capita, PPP (current international $)                            6235 non-null   float64
 5   Population (historical estimates)                                        55656 non-null  float64
 6   Continent                                                                285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.0+ MB

=== Info for death_diarr_age ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 8 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Entity                                                               6840 non-null   object
 1   Code                                                                 6150 non-null   object
 2   Year                                                                 6840 non-null   int64
 3   Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)      6840 non-null   int64
 4   Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number)    6840 non-null   int64
 5   Deaths - Diarrheal diseases - Sex: Both - Age: 50-69 years (Number)  6840 non-null   int64
 6   Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number)  6840 non-null   int64
 7   Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number)   6840 non-null   int64
dtypes: int64(6), object(2)
memory usage: 427.6+ KB

=== Info for preterm ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 4 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----

In [110]:
#causes of death in the general population
cause_of_death_gen

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [111]:
#causes of death in general population
cause_of_death_gen
print("info:",cause_of_death_gen.info())
print("columns:",cause_of_death_gen.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 34 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country/Territory                           6120 non-null   object
 1   Code                                        6120 non-null   object
 2   Year                                        6120 non-null   int64
 3   Meningitis                                  6120 non-null   int64
 4   Alzheimer's Disease and Other Dementias     6120 non-null   int64
 5   Parkinson's Disease                         6120 non-null   int64
 6   Nutritional Deficiencies                    6120 non-null   int64
 7   Malaria                                     6120 non-null   int64
 8   Drowning                                    6120 non-null   int64
 9   Interpersonal Violence                      6120 non-null   int64
 10  Maternal Disorders                          6120 non-null   int64
 11  HIV/AIDS                                    6120 non-null   int64
 12  Drug Use Disorders                          6120 non-null   int64
 13  Tuberculosis                                6120 non-null   int64
 14  Cardiovascular Diseases                     6120 non-null   int64
 15  Lower Respiratory Infections                6120 non-null   int64
 16  Neonatal Disorders                          6120 non-null   int64
 17  Alcohol Use Disorders                       6120 non-null   int64
 18  Self-harm                                   6120 non-null   int64
 19  Exposure to Forces of Nature                6120 non-null   int64
 20  Diarrheal Diseases                          6120 non-null   int64
 21  Environmental Heat and Cold Exposure        6120 non-null   int64
 22  Neoplasms                                   6120 non-null   int64
 23  Conflict and Terrorism                      6120 non-null   int64
 24  Diabetes Mellitus                           6120 non-null   int64
 25  Chronic Kidney Disease                      6120 non-null   int64
 26  Poisonings                                  6120 non-null   int64
 27  Protein-Energy Malnutrition                 6120 non-null   int64
 28  Road Injuries                               6120 non-null   int64
 29  Chronic Respiratory Diseases                6120 non-null   int64
 30  Cirrhosis and Other Chronic Liver Diseases  6120 non-null   int64
 31  Digestive Diseases                          6120 non-null   int64
 32  Fire, Heat, and Hot Substances              6120 non-null   int64
 33  Acute Hepatitis                             6120 non-null   int64
dtypes: int64(32), object(2)
memory usage: 1.6+ MB
info: None
columns: Index(['Country/Territory', 'Code', 'Year', 'Meningitis',
       'Alzheimer's Disease and Other Dementias', 'Parkinson's Disease',
       'Nutritional Deficiencies', 'Malaria', 'Drowning',
       'Interpersonal Violence', 'Maternal Disorders', 'HIV/AIDS',
       'Drug Use Disorders', 'Tuberculosis', 'Cardiovascular Diseases',
       'Lower Respiratory Infections', 'Neonatal Disorders',
       'Alcohol Use Disorders', 'Self-harm', 'Exposure to Forces of Nature',
       'Diarrheal Diseases', 'Environmental Heat and Cold Exposure',
       'Neoplasms', 'Conflict and Terrorism', 'Diabetes Mellitus',
       'Chronic Kidney Disease', 'Poisonings', 'Protein-Energy Malnutrition',
       'Road Injuries', 'Chronic Respiratory Diseases',
       'Cirrhosis and Other Chronic Liver Diseases', 'Digestive Diseases',
       'Fire, Heat, and Hot Substances', 'Acute Hepatitis'],
      dtype='object')

In [112]:
print("columns:",cause_of_death_gen.columns)

columns: Index(['Country/Territory', 'Code', 'Year', 'Meningitis',
       'Alzheimer's Disease and Other Dementias', 'Parkinson's Disease',
       'Nutritional Deficiencies', 'Malaria', 'Drowning',
       'Interpersonal Violence', 'Maternal Disorders', 'HIV/AIDS',
       'Drug Use Disorders', 'Tuberculosis', 'Cardiovascular Diseases',
       'Lower Respiratory Infections', 'Neonatal Disorders',
       'Alcohol Use Disorders', 'Self-harm', 'Exposure to Forces of Nature',
       'Diarrheal Diseases', 'Environmental Heat and Cold Exposure',
       'Neoplasms', 'Conflict and Terrorism', 'Diabetes Mellitus',
       'Chronic Kidney Disease', 'Poisonings', 'Protein-Energy Malnutrition',
       'Road Injuries', 'Chronic Respiratory Diseases',
       'Cirrhosis and Other Chronic Liver Diseases', 'Digestive Diseases',
       'Fire, Heat, and Hot Substances', 'Acute Hepatitis'],
      dtype='object')

In [113]:
#causes of death in under 5years
cause_of_death_child

,Entity,Code,Year,Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Meningitis - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number),Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number),Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,21,10,1709,1779,7112,2455,20224,12850,8649,420,1599,776,808,6088,3968,431,123
1,Afghanistan,AFG,1991,41,12,1743,1822,7574,2385,20879,13701,8669,520,1804,748,800,6791,4650,439,132
2,Afghanistan,AFG,1992,51,13,1954,2069,8614,2370,23585,15812,8539,662,2160,777,863,8098,5833,486,180
3,Afghanistan,AFG,1993,24,16,2252,2427,9458,2659,27116,17855,8949,723,2414,872,979,9142,7800,549,239
4,Afghanistan,AFG,1994,52,19,2446,2649,9823,3187,29271,18835,10642,736,2519,961,1064,9575,7894,589,259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,1475,2178,383,1733,2269,518,5070,1144,615,1265,1790,126,799,3894,1345,56,399
6836,Zimbabwe,ZWE,2016,1219,1827,386,1771,2249,559,5023,1146,369,1235,1724,133,787,3798,1286,58,398
6837,Zimbabwe,ZWE,2017,1249,1658,378,1714,2245,544,4865,1135,261,1204,1671,133,745,3725,1248,58,394
6838,Zimbabwe,ZWE,2018,1213,1458,363,1639,2203,568,4675,1119,340,1178,1620,129,693,3643,1136,58,397
6839,Zimbabwe,ZWE,2019,1207,1394,355,1598,2190,536,4590,1118,349,1170,1592,127,661,3605,1067,57,413

In [114]:
cause_of_death_child.info()
#there are NAN in the code column,the column will be dropped

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 20 columns):
 #   Column                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                 --------------  -----
 0   Entity                                                                                                 6840 non-null   object
 1   Code                                                                                                   6150 non-null   object
 2   Year                                                                                                   6840 non-null   int64
 3   Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                   6840 non-null   int64
 4   Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                  6840 non-null   int64
 5   Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                6840 non-null   int64
 6   Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                  6840 non-null   int64
 7   Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                  6840 non-null   int64
 8   Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                            6840 non-null   int64
 9   Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                              6840 non-null   int64
 10  Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                  6840 non-null   int64
 11  Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                   6840 non-null   int64
 12  Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)             6840 non-null   int64
 13  Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)  6840 non-null   int64
 14  Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                  6840 non-null   int64
 15  Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                              6840 non-null   int64
 16  Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                    6840 non-null   int64
 17  Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                        6840 non-null   int64
 18  Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                 6840 non-null   int64
 19  Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                  6840 non-null   int64
dtypes: int64(18), object(2)
memory usage: 1.0+ MB

In [115]:
#death by age upto ages 4 years
death_age

,Entity,Code,Year,Deaths - All causes - Sex: Both - Age: 7-27 days (Number),Deaths - All causes - Sex: Both - Age: 1-4 years (Number),Deaths - All causes - Sex: Both - Age: 0-6 days (Number),Deaths - All causes - Sex: Both - Age: 28-364 days (Number)
0,Afghanistan,AFG,1990,9869,21812,15560,30929
1,Afghanistan,AFG,1991,10963,21565,17665,32841
2,Afghanistan,AFG,1992,12905,21929,21124,37901
3,Afghanistan,AFG,1993,14399,24292,23522,44325
4,Afghanistan,AFG,1994,15015,28068,24633,47618
...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2564,6567,8840,8581
6836,Zimbabwe,ZWE,2016,2476,6245,8626,8152
6837,Zimbabwe,ZWE,2017,2407,6031,8478,7849
6838,Zimbabwe,ZWE,2018,2335,5745,8302,7523
6839,Zimbabwe,ZWE,2019,2303,5646,8230,7387

In [116]:
death_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 7 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Entity                                                       6840 non-null   object
 1   Code                                                         6150 non-null   object
 2   Year                                                         6840 non-null   int64
 3   Deaths - All causes - Sex: Both - Age: 7-27 days (Number)    6840 non-null   int64
 4   Deaths - All causes - Sex: Both - Age: 1-4 years (Number)    6840 non-null   int64
 5   Deaths - All causes - Sex: Both - Age: 0-6 days (Number)     6840 non-null   int64
 6   Deaths - All causes - Sex: Both - Age: 28-364 days (Number)  6840 non-null   int64
dtypes: int64(5), object(2)
memory usage: 374.2+ KB

In [117]:
#number of malaria deaths in under 5 years
death_malaria

,Entity,Code,Year,Deaths - Malaria - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,21
1,Afghanistan,AFG,1991,41
2,Afghanistan,AFG,1992,51
3,Afghanistan,AFG,1993,24
4,Afghanistan,AFG,1994,52
...,...,...,...,...
6835,Zimbabwe,ZWE,2015,1475
6836,Zimbabwe,ZWE,2016,1219
6837,Zimbabwe,ZWE,2017,1249
6838,Zimbabwe,ZWE,2018,1213
6839,Zimbabwe,ZWE,2019,1207

In [118]:
death_malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 4 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                6840 non-null   object
 1   Code                                                  6150 non-null   object
 2   Year                                                  6840 non-null   int64
 3   Deaths - Malaria - Sex: Both - Age: Under 5 (Number)  6840 non-null   int64
dtypes: int64(2), object(2)
memory usage: 213.9+ KB

In [119]:
#number of under 5 children that have died over the years
child_deaths

            Entity Code  Year  Number of under-five deaths
0      Afghanistan  AFG  1966                       161659
1      Afghanistan  AFG  1967                       162579
2      Afghanistan  AFG  1968                       163573
3      Afghanistan  AFG  1969                       164638
4      Afghanistan  AFG  1970                       165430
...            ...  ...   ...                          ...
10702     Zimbabwe  ZWE  2016                        27195
10703     Zimbabwe  ZWE  2017                        26069
10704     Zimbabwe  ZWE  2018                        24648
10705     Zimbabwe  ZWE  2019                        24006
10706     Zimbabwe  ZWE  2020                        23533

[10707 rows x 4 columns]

In [120]:
#child mortality in the under 5 years per 1000 live births
child_mort_90s

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,Asia
1,Afghanistan,AFG,1960,35.820001,8996967.0,NaN
2,Afghanistan,AFG,1961,35.220001,9169406.0,NaN
3,Afghanistan,AFG,1962,34.629999,9351442.0,NaN
4,Afghanistan,AFG,1963,34.060001,9543200.0,NaN
...,...,...,...,...,...,...
56103,Zimbabwe,ZWE,1957,NaN,3425070.0,NaN
56104,Zimbabwe,ZWE,1958,NaN,3537167.0,NaN
56105,Zimbabwe,ZWE,1959,NaN,3654172.0,NaN
56106,Zimbabwe,ZWE,2021,NaN,15092171.0,NaN
56107,land Islands,ALA,2015,NaN,NaN,Europe

In [121]:
child_mort_90s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56108 entries, 0 to 56107
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           56108 non-null  object
 1   Code                                             54079 non-null  object
 2   Year                                             56108 non-null  int64
 3   Mortality rate, under-5 (per 1,000 live births)  11226 non-null  float64
 4   Population (historical estimates)                55656 non-null  float64
 5   Continent                                        285 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 2.6+ MB

In [122]:
#children mortality rate per 1000 livebirths
child_mort_world

,Entity,Code,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)"
0,Afghanistan,AFG,1950,41.6952
1,Afghanistan,AFG,1951,41.4045
2,Afghanistan,AFG,1952,40.8172
3,Afghanistan,AFG,1953,40.2182
4,Afghanistan,AFG,1954,39.6077
...,...,...,...,...
17215,Zimbabwe,ZWE,2015,5.9679
17216,Zimbabwe,ZWE,2016,5.5988
17217,Zimbabwe,ZWE,2017,5.2925
17218,Zimbabwe,ZWE,2018,5.0424
17219,Zimbabwe,ZWE,2019,4.8461

In [123]:
child_mort_income

            Entity Code  Year  Mortality rate, under-5 (per 1,000 live births)
0      Afghanistan  AFG  1960                                        35.820001
1      Afghanistan  AFG  1961                                        35.220001
2      Afghanistan  AFG  1962                                        34.629999
3      Afghanistan  AFG  1963                                        34.060001
4      Afghanistan  AFG  1964                                        33.510001
...            ...  ...   ...                                              ...
11221     Zimbabwe  ZWE  2016                                         5.870000
11222     Zimbabwe  ZWE  2017                                         5.700000
11223     Zimbabwe  ZWE  2018                                         5.480000
11224     Zimbabwe  ZWE  2019                                         5.420000
11225     Zimbabwe  ZWE  2020                                         5.390000

[11226 rows x 4 columns]

In [124]:
child_mort_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11226 entries, 0 to 11225
Data columns (total 4 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           11226 non-null  object
 1   Code                                             10792 non-null  object
 2   Year                                             11226 non-null  int64
 3   Mortality rate, under-5 (per 1,000 live births)  11226 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 350.9+ KB

In [125]:
#children under 5 years mortality rate by sex per 1000 live births
child_mort_sex

,Entity,Code,Year,"Mortality rate, under-5, female (per 1,000 live births)","Mortality rate, under-5, male (per 1,000 live births)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1961,34.370001,35.979999,9169406.0,NaN
2,Afghanistan,AFG,1962,33.810001,35.400000,9351442.0,NaN
3,Afghanistan,AFG,1963,33.250000,34.829999,9543200.0,NaN
4,Afghanistan,AFG,1964,32.729999,34.260001,9744772.0,NaN
...,...,...,...,...,...,...,...
56103,Zimbabwe,ZWE,1957,NaN,NaN,3425070.0,NaN
56104,Zimbabwe,ZWE,1958,NaN,NaN,3537167.0,NaN
56105,Zimbabwe,ZWE,1959,NaN,NaN,3654172.0,NaN
56106,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56107,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [126]:
#children under five years mortality rate per 1000 live births
child_mort_igme

            Entity Code  Year  Mortality rate, under-5 (per 1,000 live births)
0      Afghanistan  AFG  1960                                        35.820001
1      Afghanistan  AFG  1961                                        35.220001
2      Afghanistan  AFG  1962                                        34.629999
3      Afghanistan  AFG  1963                                        34.060001
4      Afghanistan  AFG  1964                                        33.510001
...            ...  ...   ...                                              ...
11221     Zimbabwe  ZWE  2016                                         5.870000
11222     Zimbabwe  ZWE  2017                                         5.700000
11223     Zimbabwe  ZWE  2018                                         5.480000
11224     Zimbabwe  ZWE  2019                                         5.420000
11225     Zimbabwe  ZWE  2020                                         5.390000

[11226 rows x 4 columns]

In [127]:
#children under 5 years mortality rate per 1000 live births vs teenage pregnancy 
child_mort_teen_preg

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)",Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,Asia
1,Afghanistan,AFG,1960,35.820001,NaN,NaN
2,Afghanistan,AFG,1961,35.220001,NaN,NaN
3,Afghanistan,AFG,1962,34.629999,NaN,NaN
4,Afghanistan,AFG,1963,34.060001,NaN,NaN
...,...,...,...,...,...,...
11313,Zimbabwe,ZWE,2017,5.700000,NaN,NaN
11314,Zimbabwe,ZWE,2018,5.480000,NaN,NaN
11315,Zimbabwe,ZWE,2019,5.420000,NaN,NaN
11316,Zimbabwe,ZWE,2020,5.390000,NaN,NaN
11317,land Islands,ALA,2015,NaN,NaN,Europe

In [128]:
#number of children living with HIV/AIDS 0-14 years
child_hiv

           Entity Code  Year  Children (0-14) living with HIV
0     Afghanistan  AFG  1990                              100
1     Afghanistan  AFG  1991                              100
2     Afghanistan  AFG  1992                              100
3     Afghanistan  AFG  1993                              100
4     Afghanistan  AFG  1994                              100
...           ...  ...   ...                              ...
2909     Zimbabwe  ZWE  2016                           100000
2910     Zimbabwe  ZWE  2017                            96000
2911     Zimbabwe  ZWE  2018                            90000
2912     Zimbabwe  ZWE  2019                            84000
2913     Zimbabwe  ZWE  2020                            79000

[2914 rows x 4 columns]

In [129]:
#Percentage of children under 5 years sleeping under treated mosquito nets
child_llin

,Entity,Code,Year,Use of insecticide-treated bed nets (% of under-5 population)
0,Afghanistan,AFG,2015,4.600000
1,Angola,AGO,2001,2.300000
2,Angola,AGO,2007,17.700001
3,Angola,AGO,2011,25.900000
4,Angola,AGO,2016,21.700001
...,...,...,...,...
273,Zimbabwe,ZWE,2009,17.299999
274,Zimbabwe,ZWE,2011,9.700000
275,Zimbabwe,ZWE,2014,26.799999
276,Zimbabwe,ZWE,2015,9.000000
277,Zimbabwe,ZWE,2019,14.900000

In [130]:
#comparison between children that died before 5years vs children that survived past 5 years.
child_woman_deathSurv

,Entity,Code,Year,Children that died before 5 years of age per woman (based on Gapminder (2017)),Children that survived past 5 years of age per woman (based on Gapminder (2017))
0,Afghanistan,AFG,1957,2.855143,4.634857
1,Afghanistan,AFG,1958,2.806421,4.673579
2,Afghanistan,AFG,1959,2.755433,4.704567
3,Afghanistan,AFG,1960,2.709565,4.740435
4,Afghanistan,AFG,1961,2.663375,4.786625
...,...,...,...,...,...
12787,Zimbabwe,ZWE,2012,0.304000,3.696000
12788,Zimbabwe,ZWE,2013,0.277200,3.682800
12789,Zimbabwe,ZWE,2014,0.250770,3.649230
12790,Zimbabwe,ZWE,2015,0.230016,3.609984
12791,Zimbabwe,ZWE,2016,0.212064,3.547936

In [131]:
#comparison between under 5 mortality and women's mean years of schooling 
infant_corr

,Entity,Code,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)","Mean years of schooling, women (in reproductive age 15 to 49) (Our World In Data (2017))",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1950,41.6952,0.062994,7752117.0,NaN
2,Afghanistan,AFG,1951,41.4045,NaN,7840151.0,NaN
3,Afghanistan,AFG,1952,40.8172,NaN,7935996.0,NaN
4,Afghanistan,AFG,1953,40.2182,NaN,8039684.0,NaN
...,...,...,...,...,...,...,...
58430,Zimbabwe,ZWE,1948,NaN,NaN,2624453.0,NaN
58431,Zimbabwe,ZWE,1949,NaN,NaN,2681604.0,NaN
58432,Zimbabwe,ZWE,2020,NaN,NaN,14862927.0,NaN
58433,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
58434,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [132]:
#number of deaths in the under 5 years due to LRTI vs the country's GDP
death_lrti

,Entity,Code,Year,Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Rate),"GDP per capita, PPP (current international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,1001.982170,NaN,12412311.0,NaN
2,Afghanistan,AFG,1991,889.451273,NaN,13299016.0,NaN
3,Afghanistan,AFG,1992,815.054137,NaN,14485543.0,NaN
4,Afghanistan,AFG,1993,816.899612,NaN,15816601.0,NaN
...,...,...,...,...,...,...,...
56805,Zimbabwe,ZWE,1987,NaN,NaN,9527202.0,NaN
56806,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
56807,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
56808,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56809,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [133]:
#Death due to diarrhoe in all age groups 
death_diarr_age

,Entity,Code,Year,Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number)
0,Afghanistan,AFG,1990,3968,140,58,42,27
1,Afghanistan,AFG,1991,4650,142,59,46,30
2,Afghanistan,AFG,1992,5833,142,59,54,34
3,Afghanistan,AFG,1993,7800,162,75,77,60
4,Afghanistan,AFG,1994,7894,151,64,64,42
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,1345,1177,999,1293,288
6836,Zimbabwe,ZWE,2016,1286,1142,979,1296,298
6837,Zimbabwe,ZWE,2017,1248,1122,974,1306,299
6838,Zimbabwe,ZWE,2018,1136,1086,949,1288,287
6839,Zimbabwe,ZWE,2019,1067,1066,943,1285,274

In [134]:
#Preterm births 
preterm

,Entity,Code,Year,Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Rate)
0,Afghanistan,AFG,1990,301.637706
1,Afghanistan,AFG,1991,289.304395
2,Afghanistan,AFG,1992,279.855774
3,Afghanistan,AFG,1993,275.399534
4,Afghanistan,AFG,1994,268.764887
...,...,...,...,...
6835,Zimbabwe,ZWE,2015,184.023857
6836,Zimbabwe,ZWE,2016,178.970571
6837,Zimbabwe,ZWE,2017,175.560340
6838,Zimbabwe,ZWE,2018,172.156834
6839,Zimbabwe,ZWE,2019,170.877935

In [135]:
#deaths due to diarrhoe vs country's GDP 
diarr_death_rate_per_gdp

,Entity,Code,Year,Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Rate),"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,196.602409,NaN,12412311.0,NaN
2,Afghanistan,AFG,1991,198.088460,NaN,13299016.0,NaN
3,Afghanistan,AFG,1992,201.587049,NaN,14485543.0,NaN
4,Afghanistan,AFG,1993,234.982790,NaN,15816601.0,NaN
...,...,...,...,...,...,...,...
56805,Zimbabwe,ZWE,1987,NaN,NaN,9527202.0,NaN
56806,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
56807,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
56808,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56809,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [136]:
#Exclusive breast feeding 
ebf

          Entity Code  Year  Exclusive breastfeeding percent
0    Afghanistan  AFG  2015                            43.13
1        Albania  ALB  2000                             6.27
2        Albania  ALB  2005                             3.39
3        Albania  ALB  2008                            37.14
4        Albania  ALB  2017                            36.54
..           ...  ...   ...                              ...
522     Zimbabwe  ZWE  2005                            21.69
523     Zimbabwe  ZWE  2009                            25.94
524     Zimbabwe  ZWE  2010                            31.30
525     Zimbabwe  ZWE  2014                            40.29
526     Zimbabwe  ZWE  2015                            47.13

[527 rows x 4 columns]

In [137]:
#causes of deaths in the under 5 years
neonatDeath_cause

,Entity,Code,Year,Deaths - Diarrheal diseases - Sex: Both - Age: 0-27 days (Number),Deaths - Congenital birth defects - Sex: Both - Age: 0-27 days (Number),Deaths - Hemolytic disease and other neonatal jaundice - Sex: Both - Age: 0-27 days (Number),Deaths - Malaria - Sex: Both - Age: 0-27 days (Number),Deaths - Lower respiratory infections - Sex: Both - Age: 0-27 days (Number),Deaths - Meningitis - Sex: Both - Age: 0-27 days (Number),Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: 0-27 days (Number),Deaths - Neonatal preterm birth - Sex: Both - Age: 0-27 days (Number),Deaths - Tetanus - Sex: Both - Age: 0-27 days (Number),Deaths - Other unspecified infectious diseases - Sex: Both - Age: 0-27 days (Number),Deaths - Other neonatal disorders - Sex: Both - Age: 0-27 days (Number),Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: 0-27 days (Number),Deaths - Sexually transmitted infections excluding HIV - Sex: Both - Age: 0-27 days (Number)
0,Afghanistan,AFG,1990,486,4872,348,2,3989,199,1435,5491,1894,63,5811,363,99
1,Afghanistan,AFG,1991,598,5493,390,3,4396,218,1633,6159,2352,76,6281,453,107
2,Afghanistan,AFG,1992,765,6542,467,5,5184,257,1964,7358,2901,94,7193,577,146
3,Afghanistan,AFG,1993,973,7235,530,2,5862,290,2189,8280,3153,104,7852,627,192
4,Afghanistan,AFG,1994,971,7500,560,4,6216,306,2280,8658,3328,107,8126,637,210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,88,653,57,33,1278,59,1722,3707,2,13,2135,1164,305
6836,Zimbabwe,ZWE,2016,81,644,55,25,1226,57,1656,3613,1,11,2113,1133,301
6837,Zimbabwe,ZWE,2017,79,637,52,25,1184,56,1604,3544,1,11,2108,1103,298
6838,Zimbabwe,ZWE,2018,73,631,51,25,1141,54,1555,3467,1,13,2069,1079,301
6839,Zimbabwe,ZWE,2019,68,630,50,26,1117,53,1528,3430,1,11,2057,1071,311

In [138]:
#number of children (0-14) years infected with HIV
neonatMort_unigm

           Entity Code  Year  Children (ages 0-14) newly infected with HIV
0     Afghanistan  AFG  1990                                           100
1     Afghanistan  AFG  1991                                           100
2     Afghanistan  AFG  1992                                           100
3     Afghanistan  AFG  1993                                           100
4     Afghanistan  AFG  1994                                           100
...           ...  ...   ...                                           ...
2816     Zimbabwe  ZWE  2016                                          6600
2817     Zimbabwe  ZWE  2017                                          5800
2818     Zimbabwe  ZWE  2018                                          5100
2819     Zimbabwe  ZWE  2019                                          4700
2820     Zimbabwe  ZWE  2020                                          5100

[2821 rows x 4 columns]

In [139]:
#time series for survival and death probability
glob_childMort_timeseri

,Entity,Code,Year,Share surviving first 5 years of life (based on Gapminder and World Bank (2019)),Share dying in first 5 years (based on Gapminder and World Bank (2019))
0,World,OWID_WRL,1800,56.70,43.30
1,World,OWID_WRL,1820,57.30,42.70
2,World,OWID_WRL,1840,59.60,40.40
3,World,OWID_WRL,1860,58.60,41.40
4,World,OWID_WRL,1880,62.00,38.00
...,...,...,...,...,...
60,World,OWID_WRL,2013,95.48,4.52
61,World,OWID_WRL,2014,95.65,4.35
62,World,OWID_WRL,2015,95.81,4.19
63,World,OWID_WRL,2016,95.95,4.05
64,World,OWID_WRL,2017,96.09,3.91

In [140]:
#causes of death in boys and girls under 1 year
infantdeath_cause_sex

,Entity,Code,Year,Causes of death for infant boys (<1 year) (IHME),Causes of death for infant girls (<1 year) (IHME)
0,Acute hepatitis,NaN,2019,5.105134,4.706185
1,Birth defects,NaN,2019,328.751521,279.706415
2,Diabetes and kidney diseases,NaN,2019,4.332053,3.660845
3,Diarrheal diseases,NaN,2019,224.854321,210.605085
4,Digestive anomalies,NaN,2019,32.703483,30.158687
5,Digestive diseases,NaN,2019,14.716596,11.006638
6,Encephalitis,NaN,2019,6.393087,6.257318
7,Encephalopathy due to birth asphyxia and trauma,NaN,2019,482.155557,369.203712
8,HIV/AIDS,NaN,2019,13.064927,13.370684
9,Heart anomalies,NaN,2019,126.310296,100.507832
10,Lower respiratory infections,NaN,2019,378.117214,385.103178
11,Malaria,NaN,2019,95.554859,113.249155
12,Measles,NaN,2019,14.974675,14.158815
13,Meningitis,NaN,2019,51.906427,43.991561
14,Nutritional deficiencies,NaN,2019,34.209556,37.345020
15,Preterm birth,NaN,2019,561.380000,437.200000
16,Sudden infant death syndrome,NaN,2019,22.386967,19.466160
17,Syphilis,NaN,2019,65.135543,56.661382
18,Tetanus,NaN,2019,12.813497,12.133553
19,Tuberculosis,NaN,2019,18.427534,20.005225
20,Whooping cough,NaN,2019,33.976640,40.130457

In [141]:
#malaria deaths across all ages
malaria_death_age

,Entity,Code,Year,Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: 70+ years (Number),Deaths - Malaria - Sex: Both - Age: 5-14 years (Number),Deaths - Malaria - Sex: Both - Age: 15-49 years (Number),Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)
0,Afghanistan,AFG,1990,21,5,3,46,19
1,Afghanistan,AFG,1991,41,11,6,94,38
2,Afghanistan,AFG,1992,51,12,8,125,44
3,Afghanistan,AFG,1993,24,5,3,58,17
4,Afghanistan,AFG,1994,52,9,7,110,33
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,1475,28,539,329,147
6836,Zimbabwe,ZWE,2016,1219,26,441,250,114
6837,Zimbabwe,ZWE,2017,1249,28,460,261,118
6838,Zimbabwe,ZWE,2018,1213,28,468,261,118
6839,Zimbabwe,ZWE,2019,1207,29,446,266,120

In [142]:
#concatenate the tables into one
dataframes=[
    cause_of_death_gen,
    cause_of_death_child,
    death_age,
    death_malaria,
    child_deaths,
    child_mort_90s,
    child_mort_world,
    child_mort_income,
    child_mort_sex,
    child_mort_igme,
    child_mort_teen_preg,
    child_hiv,
    child_llin,
    child_woman_deathSurv,
    infant_corr,
    death_lrti,
    death_diarr_age,
    preterm,
    diarr_death_rate_per_gdp,
    ebf,
    infantdeath_cause_sex,
    glob_childMort_timeseri,
    malaria_death_age,
    neonatMort_unigm,
    neonatDeath_cause,
    neonatMort_unigm
]
#cause_of_death_gen,

In [143]:
dataframe_names=["cause_of_death_gen",
    "cause_of_death_child",
    "death_age",
    "death_malaria",
    "child_deaths",
    "child_mort_90s",
    "child_mort_world",
    "child_mort_income",
    "child_mort_sex",
    "child_mort_igme",
    "child_mort_teen_preg",
    "child_hiv",
    "child_llin",
    "child_woman_deathSurv",
    "infant_corr",
    "death_lrti",
    "death_diarr_age",
    "preterm",
    "diarr_death_rate_per_gdp",
    "ebf",
    "infantdeath_cause_sex",
    "glob_childMort_timeseri",
    "malaria_death_age",
    "neonatMort_unigm",
    "neonatDeath_cause",
    "neonatMort_unigm"]

## DATA PREAPARATION

In [144]:
def data_summary(df):
    if isinstance(df, pd.DataFrame):
        print(f"--- DATAFRAME SUMMARY ---\n")

        # Nulls
        print("Null values per column:")
        print(df.isnull().sum(), "\n")

        # Describe
        print("Summary of the data:")
        print(df.describe(include='all'), "\n")

        # Info
        print("Basic Info of the DataFrame:")
        print(df.info(), "\n")

        # Duplicates
        dup_count = df.duplicated().sum()
        if dup_count:
            print(f"{dup_count} duplicates found, dropping them...")
            df = df.drop_duplicates()
        else:
            print("No duplicates found.")
        print()

        # Outliers
        outlier_indices = []
        for col in df.select_dtypes(include=['float64', 'int64']).columns:
            Q1 = df[col].quantile(0.25)
            Q3 = df[col].quantile(0.75)
            IQR = Q3 - Q1
            outliers = df[(df[col] < Q1 - 1.5 * IQR) | (df[col] > Q3 + 1.5 * IQR)].index
            outlier_indices.extend(outliers)

        outlier_indices = list(set(outlier_indices))
        print(f"{len(outlier_indices)} outliers detected.")
        # Uncomment below to drop outliers if needed
        # df = df.drop(outlier_indices)
        print()

        return df
    else:
        raise ValueError("Input is not a valid DataFrame.")

EDA

In [145]:
data_summary(cause_of_death_gen)
#3092 outliers ,log transformation will be applied.

--- DATAFRAME SUMMARY ---

Null values per column:
Country/Territory                             0
Code                                          0
Year                                          0
Meningitis                                    0
Alzheimer's Disease and Other Dementias       0
Parkinson's Disease                           0
Nutritional Deficiencies                      0
Malaria                                       0
Drowning                                      0
Interpersonal Violence                        0
Maternal Disorders                            0
HIV/AIDS                                      0
Drug Use Disorders                            0
Tuberculosis                                  0
Cardiovascular Diseases                       0
Lower Respiratory Infections                  0
Neonatal Disorders                            0
Alcohol Use Disorders                         0
Self-harm                                     0
Exposure to Forces of Nature                  0
Diarrheal Diseases                            0
Environmental Heat and Cold Exposure          0
Neoplasms                                     0
Conflict and Terrorism                        0
Diabetes Mellitus                             0
Chronic Kidney Disease                        0
Poisonings                                    0
Protein-Energy Malnutrition                   0
Road Injuries                                 0
Chronic Respiratory Diseases                  0
Cirrhosis and Other Chronic Liver Diseases    0
Digestive Diseases                            0
Fire, Heat, and Hot Substances                0
Acute Hepatitis                               0
dtype: int64

Summary of the data:
       Country/Territory  Code         Year    Meningitis  \
count               6120  6120  6120.000000   6120.000000
unique               204   204          NaN           NaN
top          Afghanistan   AFG          NaN           NaN
freq                  30    30          NaN           NaN
mean                 NaN   NaN  2004.500000   1719.701307
std                  NaN   NaN     8.656149   6672.006930
min                  NaN   NaN  1990.000000      0.000000
25%                  NaN   NaN  1997.000000     15.000000
50%                  NaN   NaN  2004.500000    109.000000
75%                  NaN   NaN  2012.000000    847.250000
max                  NaN   NaN  2019.000000  98358.000000

        Alzheimer's Disease and Other Dementias  Parkinson's Disease  \
count                               6120.000000          6120.000000
unique                                      NaN                  NaN
top                                         NaN                  NaN
freq                                        NaN                  NaN
mean                                4864.189379          1173.169118
std                                18220.659072          4616.156238
min                                    0.000000             0.000000
25%                                   90.000000            27.000000
50%                                  666.500000           164.000000
75%                                 2456.250000           609.250000
max                               320715.000000         76990.000000

        Nutritional Deficiencies        Malaria       Drowning  \
count                6120.000000    6120.000000    6120.000000
unique                       NaN            NaN            NaN
top                          NaN            NaN            NaN
freq                         NaN            NaN            NaN
mean                 2253.600000    4140.960131    1683.333170
std                 10483.633601   18427.753137    8877.018366
min                     0.000000       0.000000       0.000000
25%                     9.000000       0.000000      34.000000
50%                   119.000000       0.000000     177.000000
75%                  1167.250000     393.000000     698.000000
max                268223.000000  280604.000000  153773.000000

        Interpersonal Violence  Maternal Disorders       HIV/AIDS  \
count              6120.000000         6120.000000    6120.000000
unique                     NaN                 NaN            NaN
top                        NaN                 NaN            NaN
freq                       NaN                 NaN            NaN
mean               2083.797222         1262.589216    5941.898529
std                6917.006075         6057.973183   21011.962487
min                   0.000000            0.000000       0.000000
25%                  40.000000            5.000000      11.000000
50%                 265.000000           54.000000     136.000000
75%                 877.000000          734.000000    1879.000000
max               69640.000000       107929.000000  305491.000000

        Drug Use Disorders   Tuberculosis  Cardiovascular Diseases  \
count          6120.000000    6120.000000             6.120000e+03
unique                 NaN            NaN                      NaN
top                    NaN            NaN                      NaN
freq                   NaN            NaN                      NaN
mean            434.006699    7491.928595             7.316045e+04
std            2898.761628   39549.977578             2.915775e+05
min               0.000000       0.000000             4.000000e+00
25%               3.000000      35.000000             2.028000e+03
50%              20.000000     417.000000             1.174200e+04
75%             129.000000    2924.250000             4.254650e+04
max           65717.000000  657515.000000             4.584273e+06

        Lower Respiratory Infections  Neonatal Disorders  \
count                    6120.000000         6120.000000
unique                           NaN                 NaN
top                              NaN                 NaN
freq                             NaN                 NaN
mean                    13687.914706        12558.942647
std                     48031.720009        56058.366412
min                         0.000000            0.000000
25%                       345.000000          131.000000
50%                      2126.500000          916.000000
75%                     10161.250000         7419.750000
max                    690913.000000       852761.000000

        Alcohol Use Disorders      Self-harm  Exposure to Forces of Nature  \
count             6120.000000    6120.000000                   6120.000000
unique                    NaN            NaN                           NaN
top                       NaN            NaN                           NaN
freq                      NaN            NaN                           NaN
mean               787.421242    3874.825327                    243.485621
std               3545.823616   18425.616418                   4717.104377
min                  0.000000       0.000000                      0.000000
25%                  9.000000      94.000000                      0.000000
50%                 80.000000     533.000000                      0.000000
75%                316.000000    1882.250000                     12.000000
max              55200.000000  220357.000000                 222641.000000

        Diarrheal Diseases  Environmental Heat and Cold Exposure  \
count         6.120000e+03                           6120.000000
unique                 NaN                                   NaN
top                    NaN                                   NaN
freq                   NaN                                   NaN
mean          1.082280e+04                            292.295915
std           6.541617e+04                           1704.466356
min           0.000000e+00                              0.000000
25%           2.000000e+01                              2.000000
50%           2.965000e+02                             21.000000
75%           3.946750e+03                            109.000000
max           1.119477e+06                          29048.000000

           Neoplasms  Conflict and Terrorism  Diabetes Mellitus  \
count   6.120000e+03             6120.000000        6120.000000
unique           NaN                     NaN                NaN
top              NaN                     NaN                NaN
freq             NaN                     NaN                NaN
mean    3.754224e+04              538.243954        5138.704575
std     1.615584e+05             7033.308187       16773.081040
min     1.000000e+00                0.000000           1.000000
25%     8.097500e+02                0.000000         236.000000
50%     5.629500e+03                0.000000        1087.000000
75%     2.014775e+04               23.000000        2954.000000
max     2.716551e+06           503532.000000      273089.000000

        Chronic Kidney Disease    Poisonings  Protein-Energy Malnutrition  \
count              6120.000000   6120.000000                  6120.000000
unique                     NaN           NaN                          NaN
top                        NaN           NaN                          NaN
freq                       NaN           NaN                          NaN
mean               4724.132680    425.013399                  1965.994281
std               16470.429969   2022.640521                  8255.999063
min                   0.000000      0.000000                     0.000000
25%                 145.750000      6.000000                     5.000000
50%                 822.000000     52.500000                    92.000000
75%                2922.500000    254.000000                  1042.500000
max              222922.000000  30883.000000                202241.000000

        Road Injuries  Chronic Respiratory Diseases  \
count     6120.000000                  6.120000e+03
unique            NaN                           NaN
top               NaN                           NaN
freq              NaN                           NaN
mean      5930.795588                  1.709237e+04
std      24097.784291                  1.051572e+05
min          0.000000                  1.000000e+00
25%        174.750000                  2.890000e+02
50%        966.500000                  1.689000e+03
75%       3435.250000                  5.249750e+03
max     329237.000000                  1.366039e+06

        Cirrhosis and Other Chronic Liver Diseases  Digestive Diseases  \
count                                  6120.000000         6120.000000
unique                                         NaN                 NaN
top                                            NaN                 NaN
freq                                           NaN                 NaN
mean                                   6124.072059        10725.267157
std                                   20688.118580        37228.051096
min                                       0.000000            0.000000
25%                                     154.000000          284.000000
50%                                    1210.000000         2185.000000
75%                                    3547.250000         6080.000000
max                                  270037.000000       464914.000000

        Fire, Heat, and Hot Substances  Acute Hepatitis
count                      6120.000000      6120.000000
unique                             NaN              NaN
top                                NaN              NaN
freq                               NaN              NaN
mean                        588.711438       618.429902
std                        2128.595120      4186.023497
min                           0.000000         0.000000
25%                          17.000000         2.000000
50%                         126.000000        15.000000
75%                         450.000000       160.000000
max                       25876.000000     64305.000000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 34 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country/Territory                           6120 non-null   object
 1   Code                                        6120 non-null   object
 2   Year                                        6120 non-null   int64
 3   Meningitis                                  6120 non-null   int64
 4   Alzheimer's Disease and Other Dementias     6120 non-null   int64
 5   Parkinson's Disease                         6120 non-null   int64
 6   Nutritional Deficiencies                    6120 non-null   int64
 7   Malaria                                     6120 non-null   int64
 8   Drowning                                    6120 non-null   int64
 9   Interpersonal Violence                      6120 non-null   int64
 10  Maternal Disorders                          6120 non-null   int64
 11  HIV/AIDS                                    6120 non-null   int64
 12  Drug Use Disorders                          6120 non-null   int64
 13  Tuberculosis                                6120 non-null   int64
 14  Cardiovascular Diseases                     6120 non-null   int64
 15  Lower Respiratory Infections                6120 non-null   int64
 16  Neonatal Disorders                          6120 non-null   int64
 17  Alcohol Use Disorders                       6120 non-null   int64
 18  Self-harm                                   6120 non-null   int64
 19  Exposure to Forces of Nature                6120 non-null   int64
 20  Diarrheal Diseases                          6120 non-null   int64
 21  Environmental Heat and Cold Exposure        6120 non-null   int64
 22  Neoplasms                                   6120 non-null   int64
 23  Conflict and Terrorism                      6120 non-null   int64
 24  Diabetes Mellitus                           6120 non-null   int64
 25  Chronic Kidney Disease                      6120 non-null   int64
 26  Poisonings                                  6120 non-null   int64
 27  Protein-Energy Malnutrition                 6120 non-null   int64
 28  Road Injuries                               6120 non-null   int64
 29  Chronic Respiratory Diseases                6120 non-null   int64
 30  Cirrhosis and Other Chronic Liver Diseases  6120 non-null   int64
 31  Digestive Diseases                          6120 non-null   int64
 32  Fire, Heat, and Hot Substances              6120 non-null   int64
 33  Acute Hepatitis                             6120 non-null   int64
dtypes: int64(32), object(2)
memory usage: 1.6+ MB
None

No duplicates found.

3092 outliers detected.

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [146]:
data_summary(cause_of_death_child)
#2337 outliers,log transformation will be applied

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                                                                     0
Code                                                                                                     690
Year                                                                                                       0
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                       0
Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                      0
Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                    0
Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                      0
Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                      0
Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                                0
Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                                  0
Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                      0
Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                       0
Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)                 0
Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)      0
Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                      0
Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                                  0
Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                        0
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                            0
Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                     0
Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                      0
dtype: int64

Summary of the data:
             Entity  Code         Year  \
count          6840  6150  6840.000000
unique          228   205          NaN
top     Afghanistan   AFG          NaN
freq             30    30          NaN
mean            NaN   NaN  2004.500000
std             NaN   NaN     8.656074
min             NaN   NaN  1990.000000
25%             NaN   NaN  1997.000000
50%             NaN   NaN  2004.500000
75%             NaN   NaN  2012.000000
max             NaN   NaN  2019.000000

        Deaths - Malaria - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         12045.208918
std                                          64858.902555
min                                              0.000000
25%                                              0.000000
50%                                              0.000000
75%                                            217.250000
max                                         631523.000000

        Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          3252.680409
std                                          18169.939141
min                                              0.000000
25%                                              0.000000
50%                                              7.000000
75%                                            298.250000
max                                         223680.000000

        Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          4804.051754
std                                          21295.166853
min                                              0.000000
25%                                              4.000000
50%                                             45.000000
75%                                            740.000000
max                                         284149.000000

        Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          6392.637281
std                                          30815.190661
min                                              0.000000
25%                                              1.000000
50%                                             17.000000
75%                                            903.250000
max                                         524103.000000

        Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         11726.084649
std                                          51612.891161
min                                              0.000000
25%                                             18.750000
50%                                            178.000000
75%                                           1773.250000
max                                         539952.000000

        Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          3876.111696
std                                          16817.426216
min                                              0.000000
25%                                              0.000000
50%                                             21.000000
75%                                            671.000000
max                                         240021.000000

        Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)  \
count                                        6.840000e+03
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         3.247887e+04
std                                          1.411406e+05
min                                          0.000000e+00
25%                                          1.700000e+01
50%                                          3.330000e+02
75%                                          6.048250e+03
max                                          2.209128e+06

        Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         15627.860088
std                                          59945.388471
min                                              0.000000
25%                                             76.000000
50%                                            531.000000
75%                                           3312.500000
max                                         834417.000000

        Deaths - Measles - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          8527.409503
std                                          43502.338223
min                                              0.000000
25%                                              0.000000
50%                                              1.000000
75%                                            655.000000
max                                         704288.000000

        Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          6107.560380
std                                          25099.241136
min                                              0.000000
25%                                              8.000000
50%                                            101.000000
75%                                           1288.750000
max                                         274612.000000

        Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         17523.645906
std                                          72539.704374
min                                              0.000000
25%                                             29.000000
50%                                            265.000000
75%                                           2749.000000
max                                         808681.000000

        Deaths - Drowning - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          2331.720906
std                                          10832.407873
min                                              0.000000
25%                                              3.000000
50%                                             27.000000
75%                                            291.250000
max                                         184096.000000

        Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          2892.663889
std                                          13333.898793
min                                              0.000000
25%                                              0.000000
50%                                             11.000000
75%                                            388.000000
max                                         209562.000000

        Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)  \
count                                        6.840000e+03
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         2.371124e+04
std                                          9.641569e+04
min                                          0.000000e+00
25%                                          7.700000e+01
50%                                          5.900000e+02
75%                                          4.552250e+03
max                                          1.269043e+06

        Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)  \
count                                        6.840000e+03
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         2.464864e+04
std                                          1.133132e+05
min                                          0.000000e+00
25%                                          3.000000e+00
50%                                          9.800000e+01
75%                                          3.822250e+03
max                                          1.649581e+06

        Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          1472.511257
std                                           5794.140143
min                                              0.000000
25%                                              7.000000
50%                                             44.000000
75%                                            283.000000
max                                          85197.000000

        Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          2107.161842
std                                           9180.674247
min                                              0.000000
25%                                              0.000000
50%                                             12.000000
75%                                            277.250000
max                                          99248.000000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 20 columns):
 #   Column                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                 --------------  -----
 0   Entity                                                                                                 6840 non-null   object
 1   Code                                                                                                   6150 non-null   object
 2   Year                                                                                                   6840 non-null   int64
 3   Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                   6840 non-null   int64
 4   Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                  6840 non-null   int64
 5   Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                6840 non-null   int64
 6   Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                  6840 non-null   int64
 7   Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                  6840 non-null   int64
 8   Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                            6840 non-null   int64
 9   Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                              6840 non-null   int64
 10  Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                  6840 non-null   int64
 11  Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                   6840 non-null   int64
 12  Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)             6840 non-null   int64
 13  Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)  6840 non-null   int64
 14  Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                  6840 non-null   int64
 15  Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                              6840 non-null   int64
 16  Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                    6840 non-null   int64
 17  Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                        6840 non-null   int64
 18  Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                 6840 non-null   int64
 19  Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                  6840 non-null   int64
dtypes: int64(18), object(2)
memory usage: 1.0+ MB
None

No duplicates found.

2337 outliers detected.

,Entity,Code,Year,Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Meningitis - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number),Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number),Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,21,10,1709,1779,7112,2455,20224,12850,8649,420,1599,776,808,6088,3968,431,123
1,Afghanistan,AFG,1991,41,12,1743,1822,7574,2385,20879,13701,8669,520,1804,748,800,6791,4650,439,132
2,Afghanistan,AFG,1992,51,13,1954,2069,8614,2370,23585,15812,8539,662,2160,777,863,8098,5833,486,180
3,Afghanistan,AFG,1993,24,16,2252,2427,9458,2659,27116,17855,8949,723,2414,872,979,9142,7800,549,239
4,Afghanistan,AFG,1994,52,19,2446,2649,9823,3187,29271,18835,10642,736,2519,961,1064,9575,7894,589,259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,1475,2178,383,1733,2269,518,5070,1144,615,1265,1790,126,799,3894,1345,56,399
6836,Zimbabwe,ZWE,2016,1219,1827,386,1771,2249,559,5023,1146,369,1235,1724,133,787,3798,1286,58,398
6837,Zimbabwe,ZWE,2017,1249,1658,378,1714,2245,544,4865,1135,261,1204,1671,133,745,3725,1248,58,394
6838,Zimbabwe,ZWE,2018,1213,1458,363,1639,2203,568,4675,1119,340,1178,1620,129,693,3643,1136,58,397
6839,Zimbabwe,ZWE,2019,1207,1394,355,1598,2190,536,4590,1118,349,1170,1592,127,661,3605,1067,57,413

In [147]:
data_summary(death_age)
#1289 outliers,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                           0
Code                                                           690
Year                                                             0
Deaths - All causes - Sex: Both - Age: 7-27 days (Number)        0
Deaths - All causes - Sex: Both - Age: 1-4 years (Number)        0
Deaths - All causes - Sex: Both - Age: 0-6 days (Number)         0
Deaths - All causes - Sex: Both - Age: 28-364 days (Number)      0
dtype: int64

Summary of the data:
             Entity  Code         Year  \
count          6840  6150  6840.000000
unique          228   205          NaN
top     Afghanistan   AFG          NaN
freq             30    30          NaN
mean            NaN   NaN  2004.500000
std             NaN   NaN     8.656074
min             NaN   NaN  1990.000000
25%             NaN   NaN  1997.000000
50%             NaN   NaN  2004.500000
75%             NaN   NaN  2012.000000
max             NaN   NaN  2019.000000

        Deaths - All causes - Sex: Both - Age: 7-27 days (Number)  \
count                                        6.840000e+03
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         2.006117e+04
std                                          8.543582e+04
min                                          0.000000e+00
25%                                          4.500000e+01
50%                                          3.970000e+02
75%                                          4.036250e+03
max                                          1.264903e+06

        Deaths - All causes - Sex: Both - Age: 1-4 years (Number)  \
count                                        6.840000e+03
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         5.947500e+04
std                                          2.673174e+05
min                                          0.000000e+00
25%                                          5.900000e+01
50%                                          7.425000e+02
75%                                          1.135900e+04
max                                          3.857335e+06

        Deaths - All causes - Sex: Both - Age: 0-6 days (Number)  \
count                                        6.840000e+03
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         6.268016e+04
std                                          2.604296e+05
min                                          0.000000e+00
25%                                          1.500000e+02
50%                                          1.276500e+03
75%                                          1.240600e+04
max                                          3.026068e+06

        Deaths - All causes - Sex: Both - Age: 28-364 days (Number)
count                                        6.840000e+03
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         5.993609e+04
std                                          2.515116e+05
min                                          0.000000e+00
25%                                          9.300000e+01
50%                                          1.069000e+03
75%                                          1.370175e+04
max                                          3.832898e+06

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 7 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Entity                                                       6840 non-null   object
 1   Code                                                         6150 non-null   object
 2   Year                                                         6840 non-null   int64
 3   Deaths - All causes - Sex: Both - Age: 7-27 days (Number)    6840 non-null   int64
 4   Deaths - All causes - Sex: Both - Age: 1-4 years (Number)    6840 non-null   int64
 5   Deaths - All causes - Sex: Both - Age: 0-6 days (Number)     6840 non-null   int64
 6   Deaths - All causes - Sex: Both - Age: 28-364 days (Number)  6840 non-null   int64
dtypes: int64(5), object(2)
memory usage: 374.2+ KB
None

No duplicates found.

1289 outliers detected.

,Entity,Code,Year,Deaths - All causes - Sex: Both - Age: 7-27 days (Number),Deaths - All causes - Sex: Both - Age: 1-4 years (Number),Deaths - All causes - Sex: Both - Age: 0-6 days (Number),Deaths - All causes - Sex: Both - Age: 28-364 days (Number)
0,Afghanistan,AFG,1990,9869,21812,15560,30929
1,Afghanistan,AFG,1991,10963,21565,17665,32841
2,Afghanistan,AFG,1992,12905,21929,21124,37901
3,Afghanistan,AFG,1993,14399,24292,23522,44325
4,Afghanistan,AFG,1994,15015,28068,24633,47618
...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2564,6567,8840,8581
6836,Zimbabwe,ZWE,2016,2476,6245,8626,8152
6837,Zimbabwe,ZWE,2017,2407,6031,8478,7849
6838,Zimbabwe,ZWE,2018,2335,5745,8302,7523
6839,Zimbabwe,ZWE,2019,2303,5646,8230,7387

In [148]:
data_summary(death_malaria)
#1519 outliers,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                    0
Code                                                    690
Year                                                      0
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)      0
dtype: int64

Summary of the data:
             Entity  Code         Year  \
count          6840  6150  6840.000000
unique          228   205          NaN
top     Afghanistan   AFG          NaN
freq             30    30          NaN
mean            NaN   NaN  2004.500000
std             NaN   NaN     8.656074
min             NaN   NaN  1990.000000
25%             NaN   NaN  1997.000000
50%             NaN   NaN  2004.500000
75%             NaN   NaN  2012.000000
max             NaN   NaN  2019.000000

        Deaths - Malaria - Sex: Both - Age: Under 5 (Number)
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         12045.208918
std                                          64858.902555
min                                              0.000000
25%                                              0.000000
50%                                              0.000000
75%                                            217.250000
max                                         631523.000000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 4 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                6840 non-null   object
 1   Code                                                  6150 non-null   object
 2   Year                                                  6840 non-null   int64
 3   Deaths - Malaria - Sex: Both - Age: Under 5 (Number)  6840 non-null   int64
dtypes: int64(2), object(2)
memory usage: 213.9+ KB
None

No duplicates found.

1519 outliers detected.

,Entity,Code,Year,Deaths - Malaria - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,21
1,Afghanistan,AFG,1991,41
2,Afghanistan,AFG,1992,51
3,Afghanistan,AFG,1993,24
4,Afghanistan,AFG,1994,52
...,...,...,...,...
6835,Zimbabwe,ZWE,2015,1475
6836,Zimbabwe,ZWE,2016,1219
6837,Zimbabwe,ZWE,2017,1249
6838,Zimbabwe,ZWE,2018,1213
6839,Zimbabwe,ZWE,2019,1207

In [149]:
data_summary(child_deaths)
#1332 outliers,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                           0
Code                           434
Year                             0
Number of under-five deaths      0
dtype: int64

Summary of the data:
          Entity   Code          Year  Number of under-five deaths
count      10707  10273  10707.000000                 1.070700e+04
unique       208    194           NaN                          NaN
top     Zimbabwe    ZWE           NaN                          NaN
freq          61     61           NaN                          NaN
mean         NaN    NaN   1993.515457                 1.755731e+05
std          NaN    NaN     16.627265                 8.911146e+05
min          NaN    NaN   1960.000000                 0.000000e+00
25%          NaN    NaN   1980.000000                 6.815000e+02
50%          NaN    NaN   1995.000000                 6.184000e+03
75%          NaN    NaN   2008.000000                 4.523700e+04
max          NaN    NaN   2020.000000                 1.252616e+07

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10707 entries, 0 to 10706
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Entity                       10707 non-null  object
 1   Code                         10273 non-null  object
 2   Year                         10707 non-null  int64
 3   Number of under-five deaths  10707 non-null  int64
dtypes: int64(2), object(2)
memory usage: 334.7+ KB
None

No duplicates found.

1332 outliers detected.

            Entity Code  Year  Number of under-five deaths
0      Afghanistan  AFG  1966                       161659
1      Afghanistan  AFG  1967                       162579
2      Afghanistan  AFG  1968                       163573
3      Afghanistan  AFG  1969                       164638
4      Afghanistan  AFG  1970                       165430
...            ...  ...   ...                          ...
10702     Zimbabwe  ZWE  2016                        27195
10703     Zimbabwe  ZWE  2017                        26069
10704     Zimbabwe  ZWE  2018                        24648
10705     Zimbabwe  ZWE  2019                        24006
10706     Zimbabwe  ZWE  2020                        23533

[10707 rows x 4 columns]

In [150]:
data_summary(child_mort_90s)
#13568 outliers,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                 0
Code                                                2029
Year                                                   0
Mortality rate, under-5 (per 1,000 live births)    44882
Population (historical estimates)                    452
Continent                                          55823
dtype: int64

Summary of the data:
            Entity   Code          Year  \
count        56108  54079  56108.000000
unique         306    286           NaN
top     Madagascar    MWI           NaN
freq           259    259           NaN
mean           NaN    NaN   1607.114993
std            NaN    NaN   1411.343117
min            NaN    NaN -10000.000000
25%            NaN    NaN   1832.000000
50%            NaN    NaN   1900.000000
75%            NaN    NaN   1966.000000
max            NaN    NaN   2021.000000

        Mortality rate, under-5 (per 1,000 live births)  \
count                                      11226.000000
unique                                              NaN
top                                                 NaN
freq                                                NaN
mean                                           7.474313
std                                            7.675478
min                                            0.180000
25%                                            1.700000
50%                                            4.520000
75%                                           10.850000
max                                           42.970001

        Population (historical estimates) Continent
count                        5.565600e+04       285
unique                                NaN         7
top                                   NaN    Europe
freq                                  NaN        75
mean                         3.246352e+07       NaN
std                          2.503028e+08       NaN
min                          1.000000e+00       NaN
25%                          1.338740e+05       NaN
50%                          1.218570e+06       NaN
75%                          5.396250e+06       NaN
max                          7.874966e+09       NaN

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56108 entries, 0 to 56107
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           56108 non-null  object
 1   Code                                             54079 non-null  object
 2   Year                                             56108 non-null  int64
 3   Mortality rate, under-5 (per 1,000 live births)  11226 non-null  float64
 4   Population (historical estimates)                55656 non-null  float64
 5   Continent                                        285 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 2.6+ MB
None

No duplicates found.

13568 outliers detected.

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,Asia
1,Afghanistan,AFG,1960,35.820001,8996967.0,NaN
2,Afghanistan,AFG,1961,35.220001,9169406.0,NaN
3,Afghanistan,AFG,1962,34.629999,9351442.0,NaN
4,Afghanistan,AFG,1963,34.060001,9543200.0,NaN
...,...,...,...,...,...,...
56103,Zimbabwe,ZWE,1957,NaN,3425070.0,NaN
56104,Zimbabwe,ZWE,1958,NaN,3537167.0,NaN
56105,Zimbabwe,ZWE,1959,NaN,3654172.0,NaN
56106,Zimbabwe,ZWE,2021,NaN,15092171.0,NaN
56107,land Islands,ALA,2015,NaN,NaN,Europe

In [151]:
data_summary(child_mort_world)
#218 outliers,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                                                                                                       0
Code                                                                                                                                      3010
Year                                                                                                                                         0
Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)       0
dtype: int64

Summary of the data:
             Entity   Code          Year  \
count         17220  14210  17220.000000
unique          246    203           NaN
top     Afghanistan    AFG           NaN
freq             70     70           NaN
mean            NaN    NaN   1984.500000
std             NaN    NaN     20.205784
min             NaN    NaN   1950.000000
25%             NaN    NaN   1967.000000
50%             NaN    NaN   1984.500000
75%             NaN    NaN   2002.000000
max             NaN    NaN   2019.000000

        Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)
count                                        17220.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                             9.659558
std                                              9.056954
min                                              0.171200
25%                                              2.294900
50%                                              6.493850
75%                                             15.059050
max                                             44.495400

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17220 entries, 0 to 17219
Data columns (total 4 columns):
 #   Column                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                  --------------  -----
 0   Entity                                                                                                                                  17220 non-null  object
 1   Code                                                                                                                                    14210 non-null  object
 2   Year                                                                                                                                    17220 non-null  int64
 3   Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)  17220 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 538.2+ KB
None

No duplicates found.

218 outliers detected.

,Entity,Code,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)"
0,Afghanistan,AFG,1950,41.6952
1,Afghanistan,AFG,1951,41.4045
2,Afghanistan,AFG,1952,40.8172
3,Afghanistan,AFG,1953,40.2182
4,Afghanistan,AFG,1954,39.6077
...,...,...,...,...
17215,Zimbabwe,ZWE,2015,5.9679
17216,Zimbabwe,ZWE,2016,5.5988
17217,Zimbabwe,ZWE,2017,5.2925
17218,Zimbabwe,ZWE,2018,5.0424
17219,Zimbabwe,ZWE,2019,4.8461

In [152]:
data_summary(child_mort_income)
#501 outliers,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                               0
Code                                               434
Year                                                 0
Mortality rate, under-5 (per 1,000 live births)      0
dtype: int64

Summary of the data:
             Entity   Code          Year  \
count         11226  10792  11226.000000
unique          208    194           NaN
top     Afghanistan    AFG           NaN
freq             61     61           NaN
mean            NaN    NaN   1992.576252
std             NaN    NaN     16.888760
min             NaN    NaN   1960.000000
25%             NaN    NaN   1979.000000
50%             NaN    NaN   1994.000000
75%             NaN    NaN   2007.000000
max             NaN    NaN   2020.000000

        Mortality rate, under-5 (per 1,000 live births)
count                                      11226.000000
unique                                              NaN
top                                                 NaN
freq                                                NaN
mean                                           7.474313
std                                            7.675478
min                                            0.180000
25%                                            1.700000
50%                                            4.520000
75%                                           10.850000
max                                           42.970001

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11226 entries, 0 to 11225
Data columns (total 4 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           11226 non-null  object
 1   Code                                             10792 non-null  object
 2   Year                                             11226 non-null  int64
 3   Mortality rate, under-5 (per 1,000 live births)  11226 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 350.9+ KB
None

No duplicates found.

501 outliers detected.

            Entity Code  Year  Mortality rate, under-5 (per 1,000 live births)
0      Afghanistan  AFG  1960                                        35.820001
1      Afghanistan  AFG  1961                                        35.220001
2      Afghanistan  AFG  1962                                        34.629999
3      Afghanistan  AFG  1963                                        34.060001
4      Afghanistan  AFG  1964                                        33.510001
...            ...  ...   ...                                              ...
11221     Zimbabwe  ZWE  2016                                         5.870000
11222     Zimbabwe  ZWE  2017                                         5.700000
11223     Zimbabwe  ZWE  2018                                         5.480000
11224     Zimbabwe  ZWE  2019                                         5.420000
11225     Zimbabwe  ZWE  2020                                         5.390000

[11226 rows x 4 columns]

In [153]:
data_summary(child_mort_sex)
#13570 outliers,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                         0
Code                                                        2029
Year                                                           0
Mortality rate, under-5, female (per 1,000 live births)    44950
Mortality rate, under-5, male (per 1,000 live births)      44950
Population (historical estimates)                            452
Continent                                                  55823
dtype: int64

Summary of the data:
            Entity   Code          Year  \
count        56108  54079  56108.000000
unique         306    286           NaN
top     Madagascar    MWI           NaN
freq           259    259           NaN
mean           NaN    NaN   1607.114993
std            NaN    NaN   1411.343117
min            NaN    NaN -10000.000000
25%            NaN    NaN   1832.000000
50%            NaN    NaN   1900.000000
75%            NaN    NaN   1966.000000
max            NaN    NaN   2021.000000

        Mortality rate, under-5, female (per 1,000 live births)  \
count                                        11158.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                             6.957809
std                                              7.284334
min                                              0.160000
25%                                              1.510000
50%                                              4.080000
75%                                             10.117500
max                                             41.570001

        Mortality rate, under-5, male (per 1,000 live births)  \
count                                        11158.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                             7.777179
std                                              7.784235
min                                              0.190000
25%                                              1.870000
50%                                              4.830000
75%                                             11.340000
max                                             43.410001

        Population (historical estimates) Continent
count                        5.565600e+04       285
unique                                NaN         7
top                                   NaN    Europe
freq                                  NaN        75
mean                         3.246352e+07       NaN
std                          2.503028e+08       NaN
min                          1.000000e+00       NaN
25%                          1.338740e+05       NaN
50%                          1.218570e+06       NaN
75%                          5.396250e+06       NaN
max                          7.874966e+09       NaN

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56108 entries, 0 to 56107
Data columns (total 7 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Entity                                                   56108 non-null  object
 1   Code                                                     54079 non-null  object
 2   Year                                                     56108 non-null  int64
 3   Mortality rate, under-5, female (per 1,000 live births)  11158 non-null  float64
 4   Mortality rate, under-5, male (per 1,000 live births)    11158 non-null  float64
 5   Population (historical estimates)                        55656 non-null  float64
 6   Continent                                                285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.0+ MB
None

No duplicates found.

13570 outliers detected.

,Entity,Code,Year,"Mortality rate, under-5, female (per 1,000 live births)","Mortality rate, under-5, male (per 1,000 live births)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1961,34.370001,35.979999,9169406.0,NaN
2,Afghanistan,AFG,1962,33.810001,35.400000,9351442.0,NaN
3,Afghanistan,AFG,1963,33.250000,34.829999,9543200.0,NaN
4,Afghanistan,AFG,1964,32.729999,34.260001,9744772.0,NaN
...,...,...,...,...,...,...,...
56103,Zimbabwe,ZWE,1957,NaN,NaN,3425070.0,NaN
56104,Zimbabwe,ZWE,1958,NaN,NaN,3537167.0,NaN
56105,Zimbabwe,ZWE,1959,NaN,NaN,3654172.0,NaN
56106,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56107,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [154]:
data_summary(child_mort_igme)
#501 outliers,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                               0
Code                                               434
Year                                                 0
Mortality rate, under-5 (per 1,000 live births)      0
dtype: int64

Summary of the data:
             Entity   Code          Year  \
count         11226  10792  11226.000000
unique          208    194           NaN
top     Afghanistan    AFG           NaN
freq             61     61           NaN
mean            NaN    NaN   1992.576252
std             NaN    NaN     16.888760
min             NaN    NaN   1960.000000
25%             NaN    NaN   1979.000000
50%             NaN    NaN   1994.000000
75%             NaN    NaN   2007.000000
max             NaN    NaN   2020.000000

        Mortality rate, under-5 (per 1,000 live births)
count                                      11226.000000
unique                                              NaN
top                                                 NaN
freq                                                NaN
mean                                           7.474313
std                                            7.675478
min                                            0.180000
25%                                            1.700000
50%                                            4.520000
75%                                           10.850000
max                                           42.970001

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11226 entries, 0 to 11225
Data columns (total 4 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           11226 non-null  object
 1   Code                                             10792 non-null  object
 2   Year                                             11226 non-null  int64
 3   Mortality rate, under-5 (per 1,000 live births)  11226 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 350.9+ KB
None

No duplicates found.

501 outliers detected.

            Entity Code  Year  Mortality rate, under-5 (per 1,000 live births)
0      Afghanistan  AFG  1960                                        35.820001
1      Afghanistan  AFG  1961                                        35.220001
2      Afghanistan  AFG  1962                                        34.629999
3      Afghanistan  AFG  1963                                        34.060001
4      Afghanistan  AFG  1964                                        33.510001
...            ...  ...   ...                                              ...
11221     Zimbabwe  ZWE  2016                                         5.870000
11222     Zimbabwe  ZWE  2017                                         5.700000
11223     Zimbabwe  ZWE  2018                                         5.480000
11224     Zimbabwe  ZWE  2019                                         5.420000
11225     Zimbabwe  ZWE  2020                                         5.390000

[11226 rows x 4 columns]

In [155]:
data_summary(child_mort_teen_preg)
#501 outliers ,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                                                         0
Code                                                                                         434
Year                                                                                           0
Mortality rate, under-5 (per 1,000 live births)                                               92
Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)    10947
Continent                                                                                  11033
dtype: int64

Summary of the data:
         Entity   Code          Year  \
count     11318  10884  11318.000000
unique      300    286           NaN
top     Hungary    SLE           NaN
freq         61     61           NaN
mean        NaN    NaN   1992.758526
std         NaN    NaN     16.940068
min         NaN    NaN   1960.000000
25%         NaN    NaN   1979.000000
50%         NaN    NaN   1994.000000
75%         NaN    NaN   2007.000000
max         NaN    NaN   2020.000000

        Mortality rate, under-5 (per 1,000 live births)  \
count                                      11226.000000
unique                                              NaN
top                                                 NaN
freq                                                NaN
mean                                           7.474313
std                                            7.675478
min                                            0.180000
25%                                            1.700000
50%                                            4.520000
75%                                           10.850000
max                                           42.970001

        Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)  \
count                                          371.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                            19.128004
std                                             10.581776
min                                              1.600000
25%                                             10.150000
50%                                             18.000000
75%                                             26.250000
max                                             50.599998

       Continent
count        285
unique         7
top       Europe
freq          75
mean         NaN
std          NaN
min          NaN
25%          NaN
50%          NaN
75%          NaN
max          NaN

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11318 entries, 0 to 11317
Data columns (total 6 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Entity                                                                                   11318 non-null  object
 1   Code                                                                                     10884 non-null  object
 2   Year                                                                                     11318 non-null  int64
 3   Mortality rate, under-5 (per 1,000 live births)                                          11226 non-null  float64
 4   Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)  371 non-null    float64
 5   Continent                                                                                285 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 530.7+ KB
None

No duplicates found.

501 outliers detected.

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)",Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,Asia
1,Afghanistan,AFG,1960,35.820001,NaN,NaN
2,Afghanistan,AFG,1961,35.220001,NaN,NaN
3,Afghanistan,AFG,1962,34.629999,NaN,NaN
4,Afghanistan,AFG,1963,34.060001,NaN,NaN
...,...,...,...,...,...,...
11313,Zimbabwe,ZWE,2017,5.700000,NaN,NaN
11314,Zimbabwe,ZWE,2018,5.480000,NaN,NaN
11315,Zimbabwe,ZWE,2019,5.420000,NaN,NaN
11316,Zimbabwe,ZWE,2020,5.390000,NaN,NaN
11317,land Islands,ALA,2015,NaN,NaN,Europe

In [156]:
data_summary(child_hiv)
#448 outliers ,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                             0
Code                               0
Year                               0
Children (0-14) living with HIV    0
dtype: int64

Summary of the data:
             Entity  Code         Year  Children (0-14) living with HIV
count          2914  2914  2914.000000                     2.914000e+03
unique           94    94          NaN                              NaN
top     Afghanistan   AFG          NaN                              NaN
freq             31    31          NaN                              NaN
mean            NaN   NaN  2005.000000                     3.990107e+04
std             NaN   NaN     8.945807                     2.122729e+05
min             NaN   NaN  1990.000000                     1.000000e+02
25%             NaN   NaN  1997.000000                     2.000000e+02
50%             NaN   NaN  2005.000000                     1.700000e+03
75%             NaN   NaN  2013.000000                     1.300000e+04
max             NaN   NaN  2020.000000                     2.600000e+06

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2914 entries, 0 to 2913
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           2914 non-null   object
 1   Code                             2914 non-null   object
 2   Year                             2914 non-null   int64
 3   Children (0-14) living with HIV  2914 non-null   int64
dtypes: int64(2), object(2)
memory usage: 91.2+ KB
None

No duplicates found.

448 outliers detected.

           Entity Code  Year  Children (0-14) living with HIV
0     Afghanistan  AFG  1990                              100
1     Afghanistan  AFG  1991                              100
2     Afghanistan  AFG  1992                              100
3     Afghanistan  AFG  1993                              100
4     Afghanistan  AFG  1994                              100
...           ...  ...   ...                              ...
2909     Zimbabwe  ZWE  2016                           100000
2910     Zimbabwe  ZWE  2017                            96000
2911     Zimbabwe  ZWE  2018                            90000
2912     Zimbabwe  ZWE  2019                            84000
2913     Zimbabwe  ZWE  2020                            79000

[2914 rows x 4 columns]

In [157]:
data_summary(child_llin)
#no outliers

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                           0
Code                                                             5
Year                                                             0
Use of insecticide-treated bed nets (% of under-5 population)    0
dtype: int64

Summary of the data:
         Entity Code         Year  \
count       278  273   278.000000
unique       69   66          NaN
top     Senegal  SEN          NaN
freq         12   12          NaN
mean        NaN  NaN  2009.561151
std         NaN  NaN     5.798811
min         NaN  NaN  1999.000000
25%         NaN  NaN  2006.000000
50%         NaN  NaN  2010.000000
75%         NaN  NaN  2014.750000
max         NaN  NaN  2020.000000

        Use of insecticide-treated bed nets (% of under-5 population)
count                                          278.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                            31.095343
std                                             23.807882
min                                              0.000000
25%                                              7.050000
50%                                             30.050000
75%                                             51.000000
max                                             95.500000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 4 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Entity                                                         278 non-null    object
 1   Code                                                           273 non-null    object
 2   Year                                                           278 non-null    int64
 3   Use of insecticide-treated bed nets (% of under-5 population)  278 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.8+ KB
None

No duplicates found.

0 outliers detected.

,Entity,Code,Year,Use of insecticide-treated bed nets (% of under-5 population)
0,Afghanistan,AFG,2015,4.600000
1,Angola,AGO,2001,2.300000
2,Angola,AGO,2007,17.700001
3,Angola,AGO,2011,25.900000
4,Angola,AGO,2016,21.700001
...,...,...,...,...
273,Zimbabwe,ZWE,2009,17.299999
274,Zimbabwe,ZWE,2011,9.700000
275,Zimbabwe,ZWE,2014,26.799999
276,Zimbabwe,ZWE,2015,9.000000
277,Zimbabwe,ZWE,2019,14.900000

In [158]:
data_summary(child_woman_deathSurv)
#1021 outliers detected,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                                              0
Code                                                                                0
Year                                                                                0
Children that died before 5 years of age per woman (based on Gapminder (2017))      0
Children that survived past 5 years of age per woman (based on Gapminder (2017))    0
dtype: int64

Summary of the data:
        Entity   Code          Year  \
count    12792  12792  12792.000000
unique     195    195           NaN
top     Sweden    SWE           NaN
freq       217    217           NaN
mean       NaN    NaN   1970.170184
std        NaN    NaN     39.845178
min        NaN    NaN   1800.000000
25%        NaN    NaN   1957.000000
50%        NaN    NaN   1980.000000
75%        NaN    NaN   1999.000000
max        NaN    NaN   2016.000000

        Children that died before 5 years of age per woman (based on Gapminder (2017))  \
count                                        12792.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                             0.601731
std                                              0.648145
min                                              0.002967
25%                                              0.068039
50%                                              0.339934
75%                                              1.011203
max                                              3.430862

        Children that survived past 5 years of age per woman (based on Gapminder (2017))
count                                        12792.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                             3.527600
std                                              1.434898
min                                              1.027985
25%                                              2.297694
50%                                              3.334860
75%                                              4.756203
max                                              7.689120

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12792 entries, 0 to 12791
Data columns (total 5 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Entity                                                                            12792 non-null  object
 1   Code                                                                              12792 non-null  object
 2   Year                                                                              12792 non-null  int64
 3   Children that died before 5 years of age per woman (based on Gapminder (2017))    12792 non-null  float64
 4   Children that survived past 5 years of age per woman (based on Gapminder (2017))  12792 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 499.8+ KB
None

No duplicates found.

1021 outliers detected.

,Entity,Code,Year,Children that died before 5 years of age per woman (based on Gapminder (2017)),Children that survived past 5 years of age per woman (based on Gapminder (2017))
0,Afghanistan,AFG,1957,2.855143,4.634857
1,Afghanistan,AFG,1958,2.806421,4.673579
2,Afghanistan,AFG,1959,2.755433,4.704567
3,Afghanistan,AFG,1960,2.709565,4.740435
4,Afghanistan,AFG,1961,2.663375,4.786625
...,...,...,...,...,...
12787,Zimbabwe,ZWE,2012,0.304000,3.696000
12788,Zimbabwe,ZWE,2013,0.277200,3.682800
12789,Zimbabwe,ZWE,2014,0.250770,3.649230
12790,Zimbabwe,ZWE,2015,0.230016,3.609984
12791,Zimbabwe,ZWE,2016,0.212064,3.547936

In [159]:
data_summary(infant_corr)
#13316 outliers,log transformation will be applied

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                                                                                                        0
Code                                                                                                                                       4286
Year                                                                                                                                          0
Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)    41215
Mean years of schooling, women (in reproductive age 15 to 49) (Our World In Data (2017))                                                  56537
Population (historical estimates)                                                                                                          2779
Continent                                                                                                                                 58150
dtype: int64

Summary of the data:
        Entity   Code          Year  \
count    58435  54149  58435.000000
unique     332    287           NaN
top     Malawi    MWI           NaN
freq       259    259           NaN
mean       NaN    NaN   1622.001848
std        NaN    NaN   1384.891976
min        NaN    NaN -10000.000000
25%        NaN    NaN   1835.000000
50%        NaN    NaN   1906.000000
75%        NaN    NaN   1970.000000
max        NaN    NaN   2021.000000

        Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)  \
count                                        17220.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                             9.659558
std                                              9.056954
min                                              0.171200
25%                                              2.294900
50%                                              6.493850
75%                                             15.059050
max                                             44.495400

        Mean years of schooling, women (in reproductive age 15 to 49) (Our World In Data (2017))  \
count                                         1898.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                             5.467455
std                                              3.678781
min                                              0.018617
25%                                              2.144731
50%                                              5.118336
75%                                              8.503987
max                                             13.624390

        Population (historical estimates) Continent
count                        5.565600e+04       285
unique                                NaN         7
top                                   NaN    Europe
freq                                  NaN        75
mean                         3.246352e+07       NaN
std                          2.503028e+08       NaN
min                          1.000000e+00       NaN
25%                          1.338740e+05       NaN
50%                          1.218570e+06       NaN
75%                          5.396250e+06       NaN
max                          7.874966e+09       NaN

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58435 entries, 0 to 58434
Data columns (total 7 columns):
 #   Column                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                  --------------  -----
 0   Entity                                                                                                                                  58435 non-null  object
 1   Code                                                                                                                                    54149 non-null  object
 2   Year                                                                                                                                    58435 non-null  int64
 3   Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)  17220 non-null  float64
 4   Mean years of schooling, women (in reproductive age 15 to 49) (Our World In Data (2017))                                                1898 non-null   float64
 5   Population (historical estimates)                                                                                                       55656 non-null  float64
 6   Continent                                                                                                                               285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.1+ MB
None

No duplicates found.

13316 outliers detected.

,Entity,Code,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)","Mean years of schooling, women (in reproductive age 15 to 49) (Our World In Data (2017))",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1950,41.6952,0.062994,7752117.0,NaN
2,Afghanistan,AFG,1951,41.4045,NaN,7840151.0,NaN
3,Afghanistan,AFG,1952,40.8172,NaN,7935996.0,NaN
4,Afghanistan,AFG,1953,40.2182,NaN,8039684.0,NaN
...,...,...,...,...,...,...,...
58430,Zimbabwe,ZWE,1948,NaN,NaN,2624453.0,NaN
58431,Zimbabwe,ZWE,1949,NaN,NaN,2681604.0,NaN
58432,Zimbabwe,ZWE,2020,NaN,NaN,14862927.0,NaN
58433,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
58434,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [160]:
data_summary(death_lrti)
#13799 outliers ,log transformation will be applied

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                                         0
Code                                                                        2719
Year                                                                           0
Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Rate)    49970
GDP per capita, PPP (current international $)                              50575
Population (historical estimates)                                           1154
Continent                                                                  56525
dtype: int64

Summary of the data:
            Entity   Code          Year  \
count        56810  54091  56810.000000
unique         329    286           NaN
top     Kyrgyzstan    MWI           NaN
freq           259    259           NaN
mean           NaN    NaN   1612.027460
std            NaN    NaN   1403.283645
min            NaN    NaN -10000.000000
25%            NaN    NaN   1833.000000
50%            NaN    NaN   1902.000000
75%            NaN    NaN   1968.000000
max            NaN    NaN   2021.000000

        Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Rate)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                           148.593886
std                                            197.823595
min                                              0.387143
25%                                             11.932745
50%                                             57.074096
75%                                            216.842531
max                                           1366.014460

        GDP per capita, PPP (current international $)  \
count                                     6235.000000
unique                                            NaN
top                                               NaN
freq                                              NaN
mean                                     15130.868751
std                                      18534.064238
min                                        285.404907
25%                                       2906.159912
50%                                       8021.748047
75%                                      20288.780273
max                                     153563.906250

        Population (historical estimates) Continent
count                        5.565600e+04       285
unique                                NaN         7
top                                   NaN    Europe
freq                                  NaN        75
mean                         3.246352e+07       NaN
std                          2.503028e+08       NaN
min                          1.000000e+00       NaN
25%                          1.338740e+05       NaN
50%                          1.218570e+06       NaN
75%                          5.396250e+06       NaN
max                          7.874966e+09       NaN

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56810 entries, 0 to 56809
Data columns (total 7 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Entity                                                                   56810 non-null  object
 1   Code                                                                     54091 non-null  object
 2   Year                                                                     56810 non-null  int64
 3   Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Rate)  6840 non-null   float64
 4   GDP per capita, PPP (current international $)                            6235 non-null   float64
 5   Population (historical estimates)                                        55656 non-null  float64
 6   Continent                                                                285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.0+ MB
None

No duplicates found.

13799 outliers detected.

,Entity,Code,Year,Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Rate),"GDP per capita, PPP (current international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,1001.982170,NaN,12412311.0,NaN
2,Afghanistan,AFG,1991,889.451273,NaN,13299016.0,NaN
3,Afghanistan,AFG,1992,815.054137,NaN,14485543.0,NaN
4,Afghanistan,AFG,1993,816.899612,NaN,15816601.0,NaN
...,...,...,...,...,...,...,...
56805,Zimbabwe,ZWE,1987,NaN,NaN,9527202.0,NaN
56806,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
56807,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
56808,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56809,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [161]:
data_summary(death_diarr_age)
#1588 outliers ,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                                   0
Code                                                                   690
Year                                                                     0
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)          0
Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number)        0
Deaths - Diarrheal diseases - Sex: Both - Age: 50-69 years (Number)      0
Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number)      0
Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number)       0
dtype: int64

Summary of the data:
             Entity  Code         Year  \
count          6840  6150  6840.000000
unique          228   205          NaN
top     Afghanistan   AFG          NaN
freq             30    30          NaN
mean            NaN   NaN  2004.500000
std             NaN   NaN     8.656074
min             NaN   NaN  1990.000000
25%             NaN   NaN  1997.000000
50%             NaN   NaN  2004.500000
75%             NaN   NaN  2012.000000
max             NaN   NaN  2019.000000

        Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)  \
count                                        6.840000e+03
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         2.464864e+04
std                                          1.133132e+05
min                                          0.000000e+00
25%                                          3.000000e+00
50%                                          9.800000e+01
75%                                          3.822250e+03
max                                          1.649581e+06

        Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         15077.545175
std                                          75011.899522
min                                              0.000000
25%                                              8.000000
50%                                            129.000000
75%                                           1226.000000
max                                         613102.000000

        Deaths - Diarrheal diseases - Sex: Both - Age: 50-69 years (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          7282.937573
std                                          35847.737110
min                                              0.000000
25%                                              3.000000
50%                                             39.000000
75%                                            751.250000
max                                         365377.000000

        Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          4258.576462
std                                          19690.105846
min                                              0.000000
25%                                              1.000000
50%                                             21.000000
75%                                            499.000000
max                                         211269.000000

        Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number)
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          1944.807164
std                                           9351.862222
min                                              0.000000
25%                                              0.000000
50%                                              8.000000
75%                                            177.000000
max                                         110845.000000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 8 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Entity                                                               6840 non-null   object
 1   Code                                                                 6150 non-null   object
 2   Year                                                                 6840 non-null   int64
 3   Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)      6840 non-null   int64
 4   Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number)    6840 non-null   int64
 5   Deaths - Diarrheal diseases - Sex: Both - Age: 50-69 years (Number)  6840 non-null   int64
 6   Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number)  6840 non-null   int64
 7   Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number)   6840 non-null   int64
dtypes: int64(6), object(2)
memory usage: 427.6+ KB
None

No duplicates found.

1588 outliers detected.

,Entity,Code,Year,Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number)
0,Afghanistan,AFG,1990,3968,140,58,42,27
1,Afghanistan,AFG,1991,4650,142,59,46,30
2,Afghanistan,AFG,1992,5833,142,59,54,34
3,Afghanistan,AFG,1993,7800,162,75,77,60
4,Afghanistan,AFG,1994,7894,151,64,64,42
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,1345,1177,999,1293,288
6836,Zimbabwe,ZWE,2016,1286,1142,979,1296,298
6837,Zimbabwe,ZWE,2017,1248,1122,974,1306,299
6838,Zimbabwe,ZWE,2018,1136,1086,949,1288,287
6839,Zimbabwe,ZWE,2019,1067,1066,943,1285,274

In [162]:
data_summary(preterm)
#79 outliers detected,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                                 0
Code                                                                 690
Year                                                                   0
Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Rate)      0
dtype: int64

Summary of the data:

             Entity  Code         Year  \
count          6840  6150  6840.000000
unique          228   205          NaN
top     Afghanistan   AFG          NaN
freq             30    30          NaN
mean            NaN   NaN  2004.500000
std             NaN   NaN     8.656074
min             NaN   NaN  1990.000000
25%             NaN   NaN  1997.000000
50%             NaN   NaN  2004.500000
75%             NaN   NaN  2012.000000
max             NaN   NaN  2019.000000

        Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Rate)
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                           114.568716
std                                             87.078219
min                                              3.779806
25%                                             42.495390
50%                                             96.757211
75%                                            167.899313
max                                            722.066653

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 4 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Entity                                                             6840 non-null   object
 1   Code                                                               6150 non-null   object
 2   Year                                                               6840 non-null   int64
 3   Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Rate)  6840 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 213.9+ KB
None

No duplicates found.

79 outliers detected.

,Entity,Code,Year,Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Rate)
0,Afghanistan,AFG,1990,301.637706
1,Afghanistan,AFG,1991,289.304395
2,Afghanistan,AFG,1992,279.855774
3,Afghanistan,AFG,1993,275.399534
4,Afghanistan,AFG,1994,268.764887
...,...,...,...,...
6835,Zimbabwe,ZWE,2015,184.023857
6836,Zimbabwe,ZWE,2016,178.970571
6837,Zimbabwe,ZWE,2017,175.560340
6838,Zimbabwe,ZWE,2018,172.156834
6839,Zimbabwe,ZWE,2019,170.877935

In [163]:
data_summary(diarr_death_rate_per_gdp)
#13924 outliers detected,log transformation will be applied

--- DATAFRAME SUMMARY ---

Null values per column:

Entity                                                               0
Code                                                              2719
Year                                                                 0
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Rate)    49970
GDP per capita, PPP (constant 2017 international $)              50644
Population (historical estimates)                                 1154
Continent                                                        56525
dtype: int64

Summary of the data:
            Entity   Code          Year  \
count        56810  54091  56810.000000
unique         329    286           NaN
top     Kyrgyzstan    MWI           NaN
freq           259    259           NaN
mean           NaN    NaN   1612.027460
std            NaN    NaN   1403.283645
min            NaN    NaN -10000.000000
25%            NaN    NaN   1833.000000
50%            NaN    NaN   1902.000000
75%            NaN    NaN   1968.000000
max            NaN    NaN   2021.000000

        Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Rate)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                           121.544163
std                                            219.188772
min                                              0.071195
25%                                              1.728913
50%                                             15.363194
75%                                            143.268655
max                                           1873.225206

        GDP per capita, PPP (constant 2017 international $)  \
count                                         6166.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         17879.286262
std                                          20132.683171
min                                            436.720367
25%                                           3678.829102
50%                                          10365.778320
75%                                          25832.031738
max                                         161971.468750

        Population (historical estimates) Continent
count                        5.565600e+04       285
unique                                NaN         7
top                                   NaN    Europe
freq                                  NaN        75
mean                         3.246352e+07       NaN
std                          2.503028e+08       NaN
min                          1.000000e+00       NaN
25%                          1.338740e+05       NaN
50%                          1.218570e+06       NaN
75%                          5.396250e+06       NaN
max                          7.874966e+09       NaN

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56810 entries, 0 to 56809
Data columns (total 7 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Entity                                                         56810 non-null  object
 1   Code                                                           54091 non-null  object
 2   Year                                                           56810 non-null  int64
 3   Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Rate)  6840 non-null   float64
 4   GDP per capita, PPP (constant 2017 international $)            6166 non-null   float64
 5   Population (historical estimates)                              55656 non-null  float64
 6   Continent                                                      285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.0+ MB
None

No duplicates found.

13924 outliers detected.

,Entity,Code,Year,Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Rate),"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,196.602409,NaN,12412311.0,NaN
2,Afghanistan,AFG,1991,198.088460,NaN,13299016.0,NaN
3,Afghanistan,AFG,1992,201.587049,NaN,14485543.0,NaN
4,Afghanistan,AFG,1993,234.982790,NaN,15816601.0,NaN
...,...,...,...,...,...,...,...
56805,Zimbabwe,ZWE,1987,NaN,NaN,9527202.0,NaN
56806,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
56807,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
56808,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56809,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [164]:
data_summary(ebf)
#no outliers

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                             0
Code                               0
Year                               0
Exclusive breastfeeding percent    0
dtype: int64

Summary of the data:
       Entity Code         Year  Exclusive breastfeeding percent
count     527  527   527.000000                       527.000000
unique    134  134          NaN                              NaN
top      Peru  PER          NaN                              NaN
freq       15   15          NaN                              NaN
mean      NaN  NaN  2005.161290                        32.616736
std       NaN  NaN     7.753975                        20.324139
min       NaN  NaN  1986.000000                         0.110000
25%       NaN  NaN  2000.000000                        15.490000
50%       NaN  NaN  2006.000000                        30.950000
75%       NaN  NaN  2012.000000                        47.180000
max       NaN  NaN  2018.000000                        88.400000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           527 non-null    object
 1   Code                             527 non-null    object
 2   Year                             527 non-null    int64
 3   Exclusive breastfeeding percent  527 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 16.6+ KB
None

No duplicates found.

0 outliers detected.

          Entity Code  Year  Exclusive breastfeeding percent
0    Afghanistan  AFG  2015                            43.13
1        Albania  ALB  2000                             6.27
2        Albania  ALB  2005                             3.39
3        Albania  ALB  2008                            37.14
4        Albania  ALB  2017                            36.54
..           ...  ...   ...                              ...
522     Zimbabwe  ZWE  2005                            21.69
523     Zimbabwe  ZWE  2009                            25.94
524     Zimbabwe  ZWE  2010                            31.30
525     Zimbabwe  ZWE  2014                            40.29
526     Zimbabwe  ZWE  2015                            47.13

[527 rows x 4 columns]

In [165]:
data_summary(infantdeath_cause_sex)
#4 outliers detected ,will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                0
Code                                                 21
Year                                                  0
Causes of death for infant boys (<1 year) (IHME)      0
Causes of death for infant girls (<1 year) (IHME)     0
dtype: int64

Summary of the data:
                 Entity  Code    Year  \
count                21   0.0    21.0
unique               21   NaN     NaN
top     Acute hepatitis   NaN     NaN
freq                  1   NaN     NaN
mean                NaN   NaN  2019.0
std                 NaN   NaN     0.0
min                 NaN   NaN  2019.0
25%                 NaN   NaN  2019.0
50%                 NaN   NaN  2019.0
75%                 NaN   NaN  2019.0
max                 NaN   NaN  2019.0

        Causes of death for infant boys (<1 year) (IHME)  \
count                                          21.000000
unique                                               NaN
top                                                  NaN
freq                                                 NaN
mean                                          120.346185
std                                           170.616846
min                                             4.332053
25%                                            14.716596
50%                                            33.976640
75%                                           126.310296
max                                           561.380000

        Causes of death for infant girls (<1 year) (IHME)
count                                           21.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                           105.172757
std                                            141.342040
min                                              3.660845
25%                                             13.370684
50%                                             37.345020
75%                                            113.249155
max                                            437.200000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Entity                                             21 non-null     object
 1   Code                                               0 non-null      float64
 2   Year                                               21 non-null     int64
 3   Causes of death for infant boys (<1 year) (IHME)   21 non-null     float64
 4   Causes of death for infant girls (<1 year) (IHME)  21 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 968.0+ bytes
None

No duplicates found.

4 outliers detected.

,Entity,Code,Year,Causes of death for infant boys (<1 year) (IHME),Causes of death for infant girls (<1 year) (IHME)
0,Acute hepatitis,NaN,2019,5.105134,4.706185
1,Birth defects,NaN,2019,328.751521,279.706415
2,Diabetes and kidney diseases,NaN,2019,4.332053,3.660845
3,Diarrheal diseases,NaN,2019,224.854321,210.605085
4,Digestive anomalies,NaN,2019,32.703483,30.158687
5,Digestive diseases,NaN,2019,14.716596,11.006638
6,Encephalitis,NaN,2019,6.393087,6.257318
7,Encephalopathy due to birth asphyxia and trauma,NaN,2019,482.155557,369.203712
8,HIV/AIDS,NaN,2019,13.064927,13.370684
9,Heart anomalies,NaN,2019,126.310296,100.507832
10,Lower respiratory infections,NaN,2019,378.117214,385.103178
11,Malaria,NaN,2019,95.554859,113.249155
12,Measles,NaN,2019,14.974675,14.158815
13,Meningitis,NaN,2019,51.906427,43.991561
14,Nutritional deficiencies,NaN,2019,34.209556,37.345020
15,Preterm birth,NaN,2019,561.380000,437.200000
16,Sudden infant death syndrome,NaN,2019,22.386967,19.466160
17,Syphilis,NaN,2019,65.135543,56.661382
18,Tetanus,NaN,2019,12.813497,12.133553
19,Tuberculosis,NaN,2019,18.427534,20.005225
20,Whooping cough,NaN,2019,33.976640,40.130457

In [166]:
data_summary(glob_childMort_timeseri)
# 7 outliers detected,these will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                                              0
Code                                                                                0
Year                                                                                0
Share surviving first 5 years of life (based on Gapminder and World Bank (2019))    0
Share dying in first 5 years (based on Gapminder and World Bank (2019))             0
dtype: int64

Summary of the data:
       Entity      Code         Year  \
count      65        65    65.000000
unique      1         1          NaN
top     World  OWID_WRL          NaN
freq       65        65          NaN
mean      NaN       NaN  1973.907692
std       NaN       NaN    45.337527
min       NaN       NaN  1800.000000
25%       NaN       NaN  1968.000000
50%       NaN       NaN  1984.000000
75%       NaN       NaN  2001.000000
max       NaN       NaN  2017.000000

        Share surviving first 5 years of life (based on Gapminder and World Bank (2019))  \
count                                           65.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                            86.412000
std                                             10.023639
min                                             56.700000
25%                                             83.630000
50%                                             89.590000
75%                                             92.550000
max                                             96.090000

        Share dying in first 5 years (based on Gapminder and World Bank (2019))
count                                           65.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                            13.588000
std                                             10.023639
min                                              3.910000
25%                                              7.450000
50%                                             10.410000
75%                                             16.370000
max                                             43.300000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 5 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Entity                                                                            65 non-null     object
 1   Code                                                                              65 non-null     object
 2   Year                                                                              65 non-null     int64
 3   Share surviving first 5 years of life (based on Gapminder and World Bank (2019))  65 non-null     float64
 4   Share dying in first 5 years (based on Gapminder and World Bank (2019))           65 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.7+ KB
None

No duplicates found.

7 outliers detected.

,Entity,Code,Year,Share surviving first 5 years of life (based on Gapminder and World Bank (2019)),Share dying in first 5 years (based on Gapminder and World Bank (2019))
0,World,OWID_WRL,1800,56.70,43.30
1,World,OWID_WRL,1820,57.30,42.70
2,World,OWID_WRL,1840,59.60,40.40
3,World,OWID_WRL,1860,58.60,41.40
4,World,OWID_WRL,1880,62.00,38.00
...,...,...,...,...,...
60,World,OWID_WRL,2013,95.48,4.52
61,World,OWID_WRL,2014,95.65,4.35
62,World,OWID_WRL,2015,95.81,4.19
63,World,OWID_WRL,2016,95.95,4.05
64,World,OWID_WRL,2017,96.09,3.91

In [ ]:
data_summary(malaria_death_age)
#1711 outliers detected,log transformation

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                        0
Code                                                        690
Year                                                          0
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)          0
Deaths - Malaria - Sex: Both - Age: 70+ years (Number)        0
Deaths - Malaria - Sex: Both - Age: 5-14 years (Number)       0
Deaths - Malaria - Sex: Both - Age: 15-49 years (Number)      0
Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)      0
dtype: int64

Summary of the data:
             Entity  Code         Year  \
count          6840  6150  6840.000000
unique          228   205          NaN
top     Afghanistan   AFG          NaN
freq             30    30          NaN
mean            NaN   NaN  2004.500000
std             NaN   NaN     8.656074
min             NaN   NaN  1990.000000
25%             NaN   NaN  1997.000000
50%             NaN   NaN  2004.500000
75%             NaN   NaN  2012.000000
max             NaN   NaN  2019.000000

        Deaths - Malaria - Sex: Both - Age: Under 5 (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         12045.208918
std                                          64858.902555
min                                              0.000000
25%                                              0.000000
50%                                              0.000000
75%                                            217.250000
max                                         631523.000000

        Deaths - Malaria - Sex: Both - Age: 70+ years (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                           814.667544
std                                           4317.519945
min                                              0.000000
25%                                              0.000000
50%                                              0.000000
75%                                             44.250000
max                                          44746.000000

        Deaths - Malaria - Sex: Both - Age: 5-14 years (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          1456.319152
std                                           7222.582793
min                                              0.000000
25%                                              0.000000
50%                                              0.000000
75%                                             57.000000
max                                          91874.000000

        Deaths - Malaria - Sex: Both - Age: 15-49 years (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          2495.256579
std                                          12223.046659
min                                              0.000000
25%                                              0.000000
50%                                              0.000000
75%                                            299.000000
max                                         131508.000000

        Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          2091.688012
std                                          10818.370654
min                                              0.000000
25%                                              0.000000
50%                                              0.000000
75%                                            169.000000
max                                         111035.000000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 8 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Entity                                                    6840 non-null   object
 1   Code                                                      6150 non-null   object
 2   Year                                                      6840 non-null   int64
 3   Deaths - Malaria - Sex: Both - Age: Under 5 (Number)      6840 non-null   int64
 4   Deaths - Malaria - Sex: Both - Age: 70+ years (Number)    6840 non-null   int64
 5   Deaths - Malaria - Sex: Both - Age: 5-14 years (Number)   6840 non-null   int64
 6   Deaths - Malaria - Sex: Both - Age: 15-49 years (Number)  6840 non-null   int64
 7   Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)  6840 non-null   int64
dtypes: int64(6), object(2)
memory usage: 427.6+ KB
None

No duplicates found.

1711 outliers detected.

,Entity,Code,Year,Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: 70+ years (Number),Deaths - Malaria - Sex: Both - Age: 5-14 years (Number),Deaths - Malaria - Sex: Both - Age: 15-49 years (Number),Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)
0,Afghanistan,AFG,1990,21,5,3,46,19
1,Afghanistan,AFG,1991,41,11,6,94,38
2,Afghanistan,AFG,1992,51,12,8,125,44
3,Afghanistan,AFG,1993,24,5,3,58,17
4,Afghanistan,AFG,1994,52,9,7,110,33
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,1475,28,539,329,147
6836,Zimbabwe,ZWE,2016,1219,26,441,250,114
6837,Zimbabwe,ZWE,2017,1249,28,460,261,118
6838,Zimbabwe,ZWE,2018,1213,28,468,261,118
6839,Zimbabwe,ZWE,2019,1207,29,446,266,120

In [168]:
data_summary(neonatMort_unigm)
#431 outliers detected ,these will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                          0
Code                                            0
Year                                            0
Children (ages 0-14) newly infected with HIV    0
dtype: int64

Summary of the data:
             Entity  Code         Year  \
count          2821  2821  2821.000000
unique           91    91          NaN
top     Afghanistan   AFG          NaN
freq             31    31          NaN
mean            NaN   NaN  2005.000000
std             NaN   NaN     8.945858
min             NaN   NaN  1990.000000
25%             NaN   NaN  1997.000000
50%             NaN   NaN  2005.000000
75%             NaN   NaN  2013.000000
max             NaN   NaN  2020.000000

        Children (ages 0-14) newly infected with HIV
count                                    2821.000000
unique                                           NaN
top                                              NaN
freq                                             NaN
mean                                     7584.090748
std                                     40152.680376
min                                       100.000000
25%                                       100.000000
50%                                       500.000000
75%                                      2600.000000
max                                    520000.000000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2821 entries, 0 to 2820
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Entity                                        2821 non-null   object
 1   Code                                          2821 non-null   object
 2   Year                                          2821 non-null   int64
 3   Children (ages 0-14) newly infected with HIV  2821 non-null   int64
dtypes: int64(2), object(2)
memory usage: 88.3+ KB
None

No duplicates found.

431 outliers detected.

           Entity Code  Year  Children (ages 0-14) newly infected with HIV
0     Afghanistan  AFG  1990                                           100
1     Afghanistan  AFG  1991                                           100
2     Afghanistan  AFG  1992                                           100
3     Afghanistan  AFG  1993                                           100
4     Afghanistan  AFG  1994                                           100
...           ...  ...   ...                                           ...
2816     Zimbabwe  ZWE  2016                                          6600
2817     Zimbabwe  ZWE  2017                                          5800
2818     Zimbabwe  ZWE  2018                                          5100
2819     Zimbabwe  ZWE  2019                                          4700
2820     Zimbabwe  ZWE  2020                                          5100

[2821 rows x 4 columns]

In [169]:
data_summary(neonatDeath_cause)
#2321 outliers detected ,log transformation will be applied
#NAN in code

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                                                                                       0
Code                                                                                                       690
Year                                                                                                         0
Deaths - Diarrheal diseases - Sex: Both - Age: 0-27 days (Number)                                            0
Deaths - Congenital birth defects - Sex: Both - Age: 0-27 days (Number)                                      0
Deaths - Hemolytic disease and other neonatal jaundice - Sex: Both - Age: 0-27 days (Number)                 0
Deaths - Malaria - Sex: Both - Age: 0-27 days (Number)                                                       0
Deaths - Lower respiratory infections - Sex: Both - Age: 0-27 days (Number)                                  0
Deaths - Meningitis - Sex: Both - Age: 0-27 days (Number)                                                    0
Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: 0-27 days (Number)      0
Deaths - Neonatal preterm birth - Sex: Both - Age: 0-27 days (Number)                                        0
Deaths - Tetanus - Sex: Both - Age: 0-27 days (Number)                                                       0
Deaths - Other unspecified infectious diseases - Sex: Both - Age: 0-27 days (Number)                         0
Deaths - Other neonatal disorders - Sex: Both - Age: 0-27 days (Number)                                      0
Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: 0-27 days (Number)                 0
Deaths - Sexually transmitted infections excluding HIV - Sex: Both - Age: 0-27 days (Number)                 0
dtype: int64

Summary of the data:
             Entity  Code         Year  \
count          6840  6150  6840.000000
unique          228   205          NaN
top     Afghanistan   AFG          NaN
freq             30    30          NaN
mean            NaN   NaN  2004.500000
std             NaN   NaN     8.656074
min             NaN   NaN  1990.000000
25%             NaN   NaN  1997.000000
50%             NaN   NaN  2004.500000
75%             NaN   NaN  2012.000000
max             NaN   NaN  2019.000000

        Deaths - Diarrheal diseases - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          2735.227924
std                                          13001.243594
min                                              0.000000
25%                                              0.000000
50%                                              9.000000
75%                                            302.250000
max                                         199358.000000

        Deaths - Congenital birth defects - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          7368.171930
std                                          28412.253983
min                                              0.000000
25%                                             39.000000
50%                                            269.000000
75%                                           1514.000000
max                                         368495.000000

        Deaths - Hemolytic disease and other neonatal jaundice - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          2088.075439
std                                          10348.422123
min                                              0.000000
25%                                              0.000000
50%                                              9.000000
75%                                            149.000000
max                                         118538.000000

        Deaths - Malaria - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                           601.028947
std                                           3318.562300
min                                              0.000000
25%                                              0.000000
50%                                              0.000000
75%                                             13.000000
max                                          33432.000000

        Deaths - Lower respiratory infections - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          8682.857164
std                                          38810.216768
min                                              0.000000
25%                                              3.000000
50%                                             66.000000
75%                                           1222.250000
max                                         527158.000000

        Deaths - Meningitis - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                           563.443421
std                                           2497.725745
min                                              0.000000
25%                                              0.000000
50%                                              6.000000
75%                                            101.000000
max                                          30632.000000

        Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         16941.106287
std                                          70461.078789
min                                              0.000000
25%                                             27.000000
50%                                            240.500000
75%                                           2623.500000
max                                         776847.000000

        Deaths - Neonatal preterm birth - Sex: Both - Age: 0-27 days (Number)  \
count                                        6.840000e+03
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         2.232442e+04
std                                          9.135129e+04
min                                          0.000000e+00
25%                                          6.800000e+01
50%                                          5.315000e+02
75%                                          4.306000e+03
max                                          1.171313e+06

        Deaths - Tetanus - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          1630.914620
std                                           9311.933329
min                                              0.000000
25%                                              0.000000
50%                                              0.000000
75%                                             69.000000
max                                         168092.000000

        Deaths - Other unspecified infectious diseases - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                           142.134503
std                                            587.388700
min                                              0.000000
25%                                              0.000000
50%                                              3.000000
75%                                             29.000000
max                                           9147.000000

        Deaths - Other neonatal disorders - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                         10917.876316
std                                          48792.183618
min                                              0.000000
25%                                             16.000000
50%                                            155.000000
75%                                           1539.500000
max                                         497048.000000

        Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: 0-27 days (Number)  \
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          5665.870175
std                                          23537.676454
min                                              0.000000
25%                                              6.000000
50%                                             84.000000
75%                                           1115.000000
max                                         254741.000000

        Deaths - Sexually transmitted infections excluding HIV - Sex: Both - Age: 0-27 days (Number)
count                                         6840.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                          1633.109795
std                                           7121.914842
min                                              0.000000
25%                                              0.000000
50%                                              9.000000
75%                                            211.000000
max                                          77842.000000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 16 columns):
 #   Column                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                   --------------  -----
 0   Entity                                                                                                   6840 non-null   object
 1   Code                                                                                                     6150 non-null   object
 2   Year                                                                                                     6840 non-null   int64
 3   Deaths - Diarrheal diseases - Sex: Both - Age: 0-27 days (Number)                                        6840 non-null   int64
 4   Deaths - Congenital birth defects - Sex: Both - Age: 0-27 days (Number)                                  6840 non-null   int64
 5   Deaths - Hemolytic disease and other neonatal jaundice - Sex: Both - Age: 0-27 days (Number)             6840 non-null   int64
 6   Deaths - Malaria - Sex: Both - Age: 0-27 days (Number)                                                   6840 non-null   int64
 7   Deaths - Lower respiratory infections - Sex: Both - Age: 0-27 days (Number)                              6840 non-null   int64
 8   Deaths - Meningitis - Sex: Both - Age: 0-27 days (Number)                                                6840 non-null   int64
 9   Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: 0-27 days (Number)  6840 non-null   int64
 10  Deaths - Neonatal preterm birth - Sex: Both - Age: 0-27 days (Number)                                    6840 non-null   int64
 11  Deaths - Tetanus - Sex: Both - Age: 0-27 days (Number)                                                   6840 non-null   int64
 12  Deaths - Other unspecified infectious diseases - Sex: Both - Age: 0-27 days (Number)                     6840 non-null   int64
 13  Deaths - Other neonatal disorders - Sex: Both - Age: 0-27 days (Number)                                  6840 non-null   int64
 14  Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: 0-27 days (Number)             6840 non-null   int64
 15  Deaths - Sexually transmitted infections excluding HIV - Sex: Both - Age: 0-27 days (Number)             6840 non-null   int64
dtypes: int64(14), object(2)
memory usage: 855.1+ KB
None

No duplicates found.

2312 outliers detected.

,Entity,Code,Year,Deaths - Diarrheal diseases - Sex: Both - Age: 0-27 days (Number),Deaths - Congenital birth defects - Sex: Both - Age: 0-27 days (Number),Deaths - Hemolytic disease and other neonatal jaundice - Sex: Both - Age: 0-27 days (Number),Deaths - Malaria - Sex: Both - Age: 0-27 days (Number),Deaths - Lower respiratory infections - Sex: Both - Age: 0-27 days (Number),Deaths - Meningitis - Sex: Both - Age: 0-27 days (Number),Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: 0-27 days (Number),Deaths - Neonatal preterm birth - Sex: Both - Age: 0-27 days (Number),Deaths - Tetanus - Sex: Both - Age: 0-27 days (Number),Deaths - Other unspecified infectious diseases - Sex: Both - Age: 0-27 days (Number),Deaths - Other neonatal disorders - Sex: Both - Age: 0-27 days (Number),Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: 0-27 days (Number),Deaths - Sexually transmitted infections excluding HIV - Sex: Both - Age: 0-27 days (Number)
0,Afghanistan,AFG,1990,486,4872,348,2,3989,199,1435,5491,1894,63,5811,363,99
1,Afghanistan,AFG,1991,598,5493,390,3,4396,218,1633,6159,2352,76,6281,453,107
2,Afghanistan,AFG,1992,765,6542,467,5,5184,257,1964,7358,2901,94,7193,577,146
3,Afghanistan,AFG,1993,973,7235,530,2,5862,290,2189,8280,3153,104,7852,627,192
4,Afghanistan,AFG,1994,971,7500,560,4,6216,306,2280,8658,3328,107,8126,637,210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,88,653,57,33,1278,59,1722,3707,2,13,2135,1164,305
6836,Zimbabwe,ZWE,2016,81,644,55,25,1226,57,1656,3613,1,11,2113,1133,301
6837,Zimbabwe,ZWE,2017,79,637,52,25,1184,56,1604,3544,1,11,2108,1103,298
6838,Zimbabwe,ZWE,2018,73,631,51,25,1141,54,1555,3467,1,13,2069,1079,301
6839,Zimbabwe,ZWE,2019,68,630,50,26,1117,53,1528,3430,1,11,2057,1071,311

In [170]:
data_summary(neonatMort_unigm)
#431 outliers detected out of 2821 features,these will be dropped

--- DATAFRAME SUMMARY ---

Null values per column:
Entity                                          0
Code                                            0
Year                                            0
Children (ages 0-14) newly infected with HIV    0
dtype: int64

Summary of the data:
             Entity  Code         Year  \
count          2821  2821  2821.000000
unique           91    91          NaN
top     Afghanistan   AFG          NaN
freq             31    31          NaN
mean            NaN   NaN  2005.000000
std             NaN   NaN     8.945858
min             NaN   NaN  1990.000000
25%             NaN   NaN  1997.000000
50%             NaN   NaN  2005.000000
75%             NaN   NaN  2013.000000
max             NaN   NaN  2020.000000

        Children (ages 0-14) newly infected with HIV
count                                    2821.000000
unique                                           NaN
top                                              NaN
freq                                             NaN
mean                                     7584.090748
std                                     40152.680376
min                                       100.000000
25%                                       100.000000
50%                                       500.000000
75%                                      2600.000000
max                                    520000.000000

Basic Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2821 entries, 0 to 2820
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Entity                                        2821 non-null   object
 1   Code                                          2821 non-null   object
 2   Year                                          2821 non-null   int64
 3   Children (ages 0-14) newly infected with HIV  2821 non-null   int64
dtypes: int64(2), object(2)
memory usage: 88.3+ KB
None

No duplicates found.

431 outliers detected.

           Entity Code  Year  Children (ages 0-14) newly infected with HIV
0     Afghanistan  AFG  1990                                           100
1     Afghanistan  AFG  1991                                           100
2     Afghanistan  AFG  1992                                           100
3     Afghanistan  AFG  1993                                           100
4     Afghanistan  AFG  1994                                           100
...           ...  ...   ...                                           ...
2816     Zimbabwe  ZWE  2016                                          6600
2817     Zimbabwe  ZWE  2017                                          5800
2818     Zimbabwe  ZWE  2018                                          5100
2819     Zimbabwe  ZWE  2019                                          4700
2820     Zimbabwe  ZWE  2020                                          5100

[2821 rows x 4 columns]

most of the datasets have outliers,some outliers will be dropped and others will be log transformed

In [171]:
def drop_outlier(df):
    # Collect all outlier indices across numeric columns
    outlier_indices = []
    for col in df.select_dtypes(include=['float64', 'int64']).columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        outliers = df[(df[col] < Q1 - 1.5 * IQR) | (df[col] > Q3 + 1.5 * IQR)].index
        outlier_indices.extend(outliers)
    
    # Drop duplicate indices
    outlier_indices = list(set(outlier_indices))
    
    # Drop outliers from the DataFrame
    df_cleaned = df.drop(index=outlier_indices)

    print(f"{len(outlier_indices)} outliers dropped.")
    
    return df_cleaned

In [172]:
def log_transf(df):
    df = df.copy()
    
    for col in df.select_dtypes(include=['float64', 'int64']).columns:
        if (df[col] >= 0).all():
            df[col] = np.log1p(df[col])  # Safe for zero values
            print(f"log1p applied to: {col}")
        else:
            print(f"Skipped {col}: contains negative values.")
    
    return df

In [173]:
drop_outlier(neonatMort_unigm)

431 outliers dropped.

           Entity Code  Year  Children (ages 0-14) newly infected with HIV
0     Afghanistan  AFG  1990                                           100
1     Afghanistan  AFG  1991                                           100
2     Afghanistan  AFG  1992                                           100
3     Afghanistan  AFG  1993                                           100
4     Afghanistan  AFG  1994                                           100
...           ...  ...   ...                                           ...
2758        Yemen  YEM  2020                                           100
2817     Zimbabwe  ZWE  2017                                          5800
2818     Zimbabwe  ZWE  2018                                          5100
2819     Zimbabwe  ZWE  2019                                          4700
2820     Zimbabwe  ZWE  2020                                          5100

[2390 rows x 4 columns]

In [174]:
log_transf(neonatDeath_cause)

log1p applied to: Year
log1p applied to: Deaths - Diarrheal diseases - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Congenital birth defects - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Hemolytic disease and other neonatal jaundice - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Malaria - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Lower respiratory infections - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Meningitis - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Neonatal preterm birth - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Tetanus - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Other unspecified infectious diseases - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Other neonatal disorders - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: 0-27 days (Number)
log1p applied to: Deaths - Sexually transmitted infections excluding HIV - Sex: Both - Age: 0-27 days (Number)

,Entity,Code,Year,Deaths - Diarrheal diseases - Sex: Both - Age: 0-27 days (Number),Deaths - Congenital birth defects - Sex: Both - Age: 0-27 days (Number),Deaths - Hemolytic disease and other neonatal jaundice - Sex: Both - Age: 0-27 days (Number),Deaths - Malaria - Sex: Both - Age: 0-27 days (Number),Deaths - Lower respiratory infections - Sex: Both - Age: 0-27 days (Number),Deaths - Meningitis - Sex: Both - Age: 0-27 days (Number),Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: 0-27 days (Number),Deaths - Neonatal preterm birth - Sex: Both - Age: 0-27 days (Number),Deaths - Tetanus - Sex: Both - Age: 0-27 days (Number),Deaths - Other unspecified infectious diseases - Sex: Both - Age: 0-27 days (Number),Deaths - Other neonatal disorders - Sex: Both - Age: 0-27 days (Number),Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: 0-27 days (Number),Deaths - Sexually transmitted infections excluding HIV - Sex: Both - Age: 0-27 days (Number)
0,Afghanistan,AFG,7.596392,6.188264,8.491465,5.855072,1.098612,8.291547,5.298317,7.269617,8.611048,7.546974,4.158883,8.667680,5.897154,4.605170
1,Afghanistan,AFG,7.596894,6.395262,8.611412,5.968708,1.386294,8.388678,5.389072,7.398786,8.725832,7.763446,4.343805,8.745444,6.118097,4.682131
2,Afghanistan,AFG,7.597396,6.641182,8.786151,6.148468,1.791759,8.553525,5.552960,7.583248,8.903679,7.973155,4.553877,8.881003,6.359574,4.990433
3,Afghanistan,AFG,7.597898,6.881411,8.886824,6.274762,1.098612,8.676417,5.673323,7.691657,9.021719,8.056427,4.653960,8.968651,6.442540,5.262690
4,Afghanistan,AFG,7.598399,6.879356,8.922792,6.329721,1.609438,8.735043,5.726848,7.732369,9.066355,8.110427,4.682131,9.002947,6.458338,5.351858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,7.608871,4.488636,6.483107,4.060443,3.526361,7.153834,4.094345,7.451822,8.218248,1.098612,2.639057,7.666690,7.060476,5.723585
6836,Zimbabwe,ZWE,7.609367,4.406719,6.469250,4.025352,3.258097,7.112327,4.060443,7.412764,8.192570,0.693147,2.484907,7.656337,7.033506,5.710427
6837,Zimbabwe,ZWE,7.609862,4.382027,6.458338,3.970292,3.258097,7.077498,4.043051,7.380879,8.173293,0.693147,2.484907,7.653969,7.006695,5.700444
6838,Zimbabwe,ZWE,7.610358,4.304065,6.448889,3.951244,3.258097,7.040536,4.007333,7.349874,8.151333,0.693147,2.639057,7.635304,6.984716,5.710427
6839,Zimbabwe,ZWE,7.610853,4.234107,6.447306,3.931826,3.295837,7.019297,3.988984,7.332369,8.140607,0.693147,2.484907,7.629490,6.977281,5.743003

In [175]:
log_transf(malaria_death_age)

log1p applied to: Year
log1p applied to: Deaths - Malaria - Sex: Both - Age: Under 5 (Number)
log1p applied to: Deaths - Malaria - Sex: Both - Age: 70+ years (Number)
log1p applied to: Deaths - Malaria - Sex: Both - Age: 5-14 years (Number)
log1p applied to: Deaths - Malaria - Sex: Both - Age: 15-49 years (Number)
log1p applied to: Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)

,Entity,Code,Year,Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: 70+ years (Number),Deaths - Malaria - Sex: Both - Age: 5-14 years (Number),Deaths - Malaria - Sex: Both - Age: 15-49 years (Number),Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)
0,Afghanistan,AFG,7.596392,3.091042,1.791759,1.386294,3.850148,2.995732
1,Afghanistan,AFG,7.596894,3.737670,2.484907,1.945910,4.553877,3.663562
2,Afghanistan,AFG,7.597396,3.951244,2.564949,2.197225,4.836282,3.806662
3,Afghanistan,AFG,7.597898,3.218876,1.791759,1.386294,4.077537,2.890372
4,Afghanistan,AFG,7.598399,3.970292,2.302585,2.079442,4.709530,3.526361
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,7.608871,7.297091,3.367296,6.291569,5.799093,4.997212
6836,Zimbabwe,ZWE,7.609367,7.106606,3.295837,6.091310,5.525453,4.744932
6837,Zimbabwe,ZWE,7.609862,7.130899,3.367296,6.133398,5.568345,4.779123
6838,Zimbabwe,ZWE,7.610358,7.101676,3.367296,6.150603,5.568345,4.779123
6839,Zimbabwe,ZWE,7.610853,7.096721,3.401197,6.102559,5.587249,4.795791

In [176]:
drop_outlier(glob_childMort_timeseri)

7 outliers dropped.

,Entity,Code,Year,Share surviving first 5 years of life (based on Gapminder and World Bank (2019)),Share dying in first 5 years (based on Gapminder and World Bank (2019))
7,World,OWID_WRL,1940,76.10,23.90
8,World,OWID_WRL,1960,81.50,18.50
9,World,OWID_WRL,1961,81.96,18.04
10,World,OWID_WRL,1962,82.29,17.71
11,World,OWID_WRL,1963,82.59,17.41
12,World,OWID_WRL,1964,82.48,17.52
13,World,OWID_WRL,1965,82.72,17.28
14,World,OWID_WRL,1966,82.88,17.12
15,World,OWID_WRL,1967,83.11,16.89
16,World,OWID_WRL,1968,83.63,16.37
17,World,OWID_WRL,1969,85.02,14.98
18,World,OWID_WRL,1970,85.51,14.49
19,World,OWID_WRL,1971,85.86,14.14
20,World,OWID_WRL,1972,86.17,13.83
21,World,OWID_WRL,1973,86.49,13.51
22,World,OWID_WRL,1974,86.80,13.20
23,World,OWID_WRL,1975,87.06,12.94
24,World,OWID_WRL,1976,87.34,12.66
25,World,OWID_WRL,1977,87.61,12.39
26,World,OWID_WRL,1978,87.86,12.14
27,World,OWID_WRL,1979,88.10,11.90
28,World,OWID_WRL,1980,88.36,11.64
29,World,OWID_WRL,1981,88.67,11.33
30,World,OWID_WRL,1982,88.97,11.03
31,World,OWID_WRL,1983,89.27,10.73
32,World,OWID_WRL,1984,89.59,10.41
33,World,OWID_WRL,1985,89.88,10.12
34,World,OWID_WRL,1986,90.14,9.86
35,World,OWID_WRL,1987,90.38,9.62
36,World,OWID_WRL,1988,90.60,9.40
37,World,OWID_WRL,1990,90.68,9.32
38,World,OWID_WRL,1991,90.80,9.20
39,World,OWID_WRL,1992,90.92,9.08
40,World,OWID_WRL,1993,91.04,8.96
41,World,OWID_WRL,1994,91.14,8.86
42,World,OWID_WRL,1995,91.29,8.71
43,World,OWID_WRL,1996,91.46,8.54
44,World,OWID_WRL,1997,91.63,8.37
45,World,OWID_WRL,1998,91.82,8.18
46,World,OWID_WRL,1999,92.05,7.95
47,World,OWID_WRL,2000,92.29,7.71
48,World,OWID_WRL,2001,92.55,7.45
49,World,OWID_WRL,2002,92.83,7.17
50,World,OWID_WRL,2003,93.10,6.90
51,World,OWID_WRL,2004,93.35,6.65
52,World,OWID_WRL,2005,93.65,6.35
53,World,OWID_WRL,2006,93.91,6.09
54,World,OWID_WRL,2007,94.17,5.83
55,World,OWID_WRL,2008,94.40,5.60
56,World,OWID_WRL,2009,94.65,5.35
57,World,OWID_WRL,2010,94.85,5.15
58,World,OWID_WRL,2011,95.09,4.91
59,World,OWID_WRL,2012,95.29,4.71
60,World,OWID_WRL,2013,95.48,4.52
61,World,OWID_WRL,2014,95.65,4.35
62,World,OWID_WRL,2015,95.81,4.19
63,World,OWID_WRL,2016,95.95,4.05
64,World,OWID_WRL,2017,96.09,3.91

In [177]:
drop_outlier(infantdeath_cause_sex)

4 outliers dropped.

,Entity,Code,Year,Causes of death for infant boys (<1 year) (IHME),Causes of death for infant girls (<1 year) (IHME)
0,Acute hepatitis,NaN,2019,5.105134,4.706185
2,Diabetes and kidney diseases,NaN,2019,4.332053,3.660845
3,Diarrheal diseases,NaN,2019,224.854321,210.605085
4,Digestive anomalies,NaN,2019,32.703483,30.158687
5,Digestive diseases,NaN,2019,14.716596,11.006638
6,Encephalitis,NaN,2019,6.393087,6.257318
8,HIV/AIDS,NaN,2019,13.064927,13.370684
9,Heart anomalies,NaN,2019,126.310296,100.507832
11,Malaria,NaN,2019,95.554859,113.249155
12,Measles,NaN,2019,14.974675,14.158815
13,Meningitis,NaN,2019,51.906427,43.991561
14,Nutritional deficiencies,NaN,2019,34.209556,37.345020
16,Sudden infant death syndrome,NaN,2019,22.386967,19.466160
17,Syphilis,NaN,2019,65.135543,56.661382
18,Tetanus,NaN,2019,12.813497,12.133553
19,Tuberculosis,NaN,2019,18.427534,20.005225
20,Whooping cough,NaN,2019,33.976640,40.130457

In [178]:
log_transf(diarr_death_rate_per_gdp)

Skipped Year: contains negative values.
Skipped Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Rate): contains negative values.
Skipped GDP per capita, PPP (constant 2017 international $): contains negative values.
Skipped Population (historical estimates): contains negative values.

,Entity,Code,Year,Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Rate),"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,196.602409,NaN,12412311.0,NaN
2,Afghanistan,AFG,1991,198.088460,NaN,13299016.0,NaN
3,Afghanistan,AFG,1992,201.587049,NaN,14485543.0,NaN
4,Afghanistan,AFG,1993,234.982790,NaN,15816601.0,NaN
...,...,...,...,...,...,...,...
56805,Zimbabwe,ZWE,1987,NaN,NaN,9527202.0,NaN
56806,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
56807,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
56808,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56809,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [179]:
drop_outlier(preterm)

79 outliers dropped.

,Entity,Code,Year,Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Rate)
0,Afghanistan,AFG,1990,301.637706
1,Afghanistan,AFG,1991,289.304395
2,Afghanistan,AFG,1992,279.855774
3,Afghanistan,AFG,1993,275.399534
4,Afghanistan,AFG,1994,268.764887
...,...,...,...,...
6835,Zimbabwe,ZWE,2015,184.023857
6836,Zimbabwe,ZWE,2016,178.970571
6837,Zimbabwe,ZWE,2017,175.560340
6838,Zimbabwe,ZWE,2018,172.156834
6839,Zimbabwe,ZWE,2019,170.877935

In [180]:
drop_outlier(death_diarr_age)

1588 outliers dropped.

,Entity,Code,Year,Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number)
0,Afghanistan,AFG,1990,3968,140,58,42,27
1,Afghanistan,AFG,1991,4650,142,59,46,30
2,Afghanistan,AFG,1992,5833,142,59,54,34
3,Afghanistan,AFG,1993,7800,162,75,77,60
4,Afghanistan,AFG,1994,7894,151,64,64,42
...,...,...,...,...,...,...,...,...
6824,Zimbabwe,ZWE,2004,1239,1180,814,884,112
6825,Zimbabwe,ZWE,2005,1336,1237,859,931,134
6826,Zimbabwe,ZWE,2006,1448,1289,910,996,164
6827,Zimbabwe,ZWE,2007,1467,1340,956,1043,176
6828,Zimbabwe,ZWE,2008,3255,1454,1064,1215,315

In [181]:
log_transf(death_lrti)

Skipped Year: contains negative values.
Skipped Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Rate): contains negative values.
Skipped GDP per capita, PPP (current international $): contains negative values.
Skipped Population (historical estimates): contains negative values.

,Entity,Code,Year,Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Rate),"GDP per capita, PPP (current international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,1001.982170,NaN,12412311.0,NaN
2,Afghanistan,AFG,1991,889.451273,NaN,13299016.0,NaN
3,Afghanistan,AFG,1992,815.054137,NaN,14485543.0,NaN
4,Afghanistan,AFG,1993,816.899612,NaN,15816601.0,NaN
...,...,...,...,...,...,...,...
56805,Zimbabwe,ZWE,1987,NaN,NaN,9527202.0,NaN
56806,Zimbabwe,ZWE,1988,NaN,NaN,9849129.0,NaN
56807,Zimbabwe,ZWE,1989,NaN,NaN,10153852.0,NaN
56808,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56809,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [182]:
log_transf(infant_corr)

Skipped Year: contains negative values.
Skipped Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births): contains negative values.
Skipped Mean years of schooling, women (in reproductive age 15 to 49) (Our World In Data (2017)): contains negative values.
Skipped Population (historical estimates): contains negative values.

,Entity,Code,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Under-five mortality (deaths under age 5 per 1,000 live births)","Mean years of schooling, women (in reproductive age 15 to 49) (Our World In Data (2017))",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1950,41.6952,0.062994,7752117.0,NaN
2,Afghanistan,AFG,1951,41.4045,NaN,7840151.0,NaN
3,Afghanistan,AFG,1952,40.8172,NaN,7935996.0,NaN
4,Afghanistan,AFG,1953,40.2182,NaN,8039684.0,NaN
...,...,...,...,...,...,...,...
58430,Zimbabwe,ZWE,1948,NaN,NaN,2624453.0,NaN
58431,Zimbabwe,ZWE,1949,NaN,NaN,2681604.0,NaN
58432,Zimbabwe,ZWE,2020,NaN,NaN,14862927.0,NaN
58433,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
58434,land Islands,ALA,2015,NaN,NaN,NaN,Europe

In [183]:
drop_outlier(child_woman_deathSurv)

1021 outliers dropped.

,Entity,Code,Year,Children that died before 5 years of age per woman (based on Gapminder (2017)),Children that survived past 5 years of age per woman (based on Gapminder (2017))
10,Afghanistan,AFG,1967,2.404115,5.045885
11,Afghanistan,AFG,1968,2.363140,5.086860
12,Afghanistan,AFG,1969,2.320675,5.129325
13,Afghanistan,AFG,1970,2.279700,5.170300
14,Afghanistan,AFG,1971,2.237980,5.212020
...,...,...,...,...,...
12787,Zimbabwe,ZWE,2012,0.304000,3.696000
12788,Zimbabwe,ZWE,2013,0.277200,3.682800
12789,Zimbabwe,ZWE,2014,0.250770,3.649230
12790,Zimbabwe,ZWE,2015,0.230016,3.609984
12791,Zimbabwe,ZWE,2016,0.212064,3.547936

In [184]:
drop_outlier(child_hiv)

448 outliers dropped.

           Entity Code  Year  Children (0-14) living with HIV
0     Afghanistan  AFG  1990                              100
1     Afghanistan  AFG  1991                              100
2     Afghanistan  AFG  1992                              100
3     Afghanistan  AFG  1993                              100
4     Afghanistan  AFG  1994                              100
...           ...  ...   ...                              ...
2848        Yemen  YEM  2017                              500
2849        Yemen  YEM  2018                              500
2850        Yemen  YEM  2019                              500
2851        Yemen  YEM  2020                              510
2852       Zambia  ZMB  1990                            28000

[2466 rows x 4 columns]

In [185]:
drop_outlier(child_mort_teen_preg)

501 outliers dropped.

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)",Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,Asia
21,Afghanistan,AFG,1980,24.360001,NaN,NaN
22,Afghanistan,AFG,1981,23.720000,NaN,NaN
23,Afghanistan,AFG,1982,23.070000,NaN,NaN
24,Afghanistan,AFG,1983,22.420000,NaN,NaN
...,...,...,...,...,...,...
11313,Zimbabwe,ZWE,2017,5.700000,NaN,NaN
11314,Zimbabwe,ZWE,2018,5.480000,NaN,NaN
11315,Zimbabwe,ZWE,2019,5.420000,NaN,NaN
11316,Zimbabwe,ZWE,2020,5.390000,NaN,NaN
11317,land Islands,ALA,2015,NaN,NaN,Europe